<div class="result">
  <h3>IPO</h3>
  <p class="selection">
    {{ expressionOfInterest?.availableIPOs }}
  </p>
</div>
<div class="result">
  <h3>Surname</h3>
  <p class="selection">
    {{ expressionOfInterest?.surname }}
  </p>
</div>
<div class="result">
  <h3>Firstname</h3>
  <p class="selection">
    {{ expressionOfInterest?.firstName }}
  </p>
</div>
<div class="result">
  <h3>Middle name</h3>
  <p class="selection">
    {{ expressionOfInterest?.middleName }}
  </p>
</div>
<div class="result">
  <h3>Address</h3>
  <p class="selection">
    {{ expressionOfInterest?.address }}
  </p>
</div>
<div class="result">
  <h3>Phonenumber</h3>
  <p class="selection">
    {{ expressionOfInterest?.phoneNumber }}
  </p>
</div>
<div class="result">
  <h3>Email</h3>
  <p class="selection">
    {{ expressionOfInterest?.email }}
  </p>
</div>
<div class="result">
  <h3>Bank name</h3>
  <p class="selection">
    {{ expressionOfInterest?.bankName }}
  </p>
</div>
<div class="result">
  <h3>Bank account number</h3>
  <p class="selection">
    {{ expressionOfInterest?.bankAccountNumber }}
  </p>
</div>
<div class="result">
  <h3>How much are you willing to invest?</h3>
  <p class="selection">
    {{ expressionOfInterest?.availableInvestment }}
  </p>
</div>
