$categories-header-break: 980px;
.categories-header-mobile {
  background: #f7f8fa;
  border-bottom: 1px solid #dedfe0;
  .categories-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    .category-container {
      margin-top: 3px;
      cursor: pointer;
      display: flex;
      align-items: center;
      color: #686f7a;
      font-size: 13px;
      font-weight: 400;
      padding: 12px 16px;
      outline-offset: -2px;
      i {
        margin-right: 6px;
        font-size: 18px;
      }
      &:hover {
        background-color: #e8e9eb;
      }
    }
  }
  .categories-header-container::-webkit-scrollbar {
    height: 5px;
    background-color: #f5f5f5;
  }
  .categories-header-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
    height: 5px;
  }
  .categories-header-container::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: #c1c1c1;
  }
  display: none;
  @media screen  and (max-width: $categories-header-break){
    display: inherit;
  }
}

.categories-header {
  display: block;
  position: relative;
  background: #f7f8fa;
  border-bottom: 1px solid #dedfe0;
  .categories-header-container {
    padding: 0px 20px;
    max-width: 1180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    .category-container {
      margin-top: 3px;
      cursor: pointer;
      display: flex;
      align-items: center;
      color: #686f7a;
      font-size: 13px;
      font-weight: 400;
      padding: 12px 16px;
      outline-offset: -2px;
      i {
        margin-right: 6px;
        font-size: 18px;
      }
      &:hover {
        background-color: #e8e9eb;
      }
    }
  }
  @media screen  and (max-width: $categories-header-break){
    display: none;
  }
}

.courses-jumbotron-section {
  overflow: hidden;
  .jumbotron-wrapper {
    background-size: cover;
    resize: both;
    background-position-x: center;
    background-position-y: center;
    background-image: url('/assets/img/jumbotrons/courses-all-jumbotron.jpg');
    .jumbotron-wrapper-overlay {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#134c00+0,4c2300+100&0.4+0,0.4+100 */
      background: -moz-linear-gradient(
        left,
        rgba(19, 76, 0, 0.4) 0%,
        rgba(76, 35, 0, 0.4) 100%
      ); // FF3.6-15
      background: -webkit-linear-gradient(
        left,
        rgba(19, 76, 0, 0.4) 0%,
        rgba(76, 35, 0, 0.4) 100%
      ); // Chrome10-25,Safari5.1-6
      background: linear-gradient(
        to right,
        rgba(19, 76, 0, 0.4) 0%,
        rgba(76, 35, 0, 0.4) 100%
      ); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66134c00', endColorstr='#664c2300',GradientType=1 ); // IE6-9
      .jumbotron-conatiner {
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 280px;
        .jumbotron-texts {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: 'Open Sans';
          color: white;
          margin: 20px;
          .jumbotron-title {
            font-size: 36px;
            font-weight: 300;
            line-height: 1.1;
          }
          .jumbotron-description {
            text-align: center;
            margin-top: 14px;
            font-size: 18px;
            font-weight: lighter;
            line-height: 1.1;
          }
        }
      }
    }
  }
}

.courses-slider-section {
  display: block;
  position: relative;
  .courses-container {
    padding: 40px;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    .title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Trebuchet MS', Helvetica, sans-serif;
      .title {
        color: #1b4568;
        font-size: 20px;
        font-weight: bold;
      }
      a {
        margin-right: 20px;
        font-size: 18px;
        color: darkgray;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .cards-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      .course-card {
        margin: 10px 0px;
        margin-right: 15px;
        &:nth-last-child(1) {
          margin-right: 0px;
        }
      }
    }
    @media screen and (max-width: 500px) {
      padding: 40px 15px;
    }
  }
}

.courses-section {
  display: block;
  position: relative;
  .courses-container {
    padding: 40px 20px;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    .title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Trebuchet MS', Helvetica, sans-serif;
      .title {
        color: #1b4568;
        font-size: 20px;
        font-weight: bold;
      }
      a {
        margin-right: 20px;
        font-size: 18px;
        color: darkgray;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .cards-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      .course-card {
        margin: 10px 0px;
        margin-right: 15px;
        &:nth-last-child(1) {
          margin-right: 0px;
        }
      }
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: gainsboro;
}

.categories-section {
  display: block;
  position: relative;
  .categories-container {
    padding: 40px 20px;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    .categories-title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Trebuchet MS', Helvetica, sans-serif;
      .categories-title {
        color: #1b4568;
        font-size: 20px;
        font-weight: bold;
      }
      a {
        margin-right: 20px;
        font-size: 18px;
        color: darkgray;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .categories-cards-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;
      .category-card {
        margin: 10px 0px;
        margin-right: 15px;
      }
      .category-card-2 {
        .card-container {
          color: #505763;
          font-size: 15px;
          margin-bottom: 10px;
          margin-right: 10px;
          width: 180px;
          height: 64px;
          display: flex;
          align-items: center;
          padding: 6px 14px;
          vertical-align: middle;
          position: relative;
          box-sizing: border-box;
          &:before {
            box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
            opacity: 1;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: .2s ease;
            pointer-events: none;
            box-sizing: border-box;
          }
          &:hover {
            &:before {
              /* box-shadow: 0 0 1px 1px rgb(0, 94, 255), 0 3px 1px 0 rgb(0, 94, 255); */
              box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
              opacity: 1;
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              transition: .2s ease;
              pointer-events: none;
              box-sizing: border-box;
            }
          }
          i {
            margin-right: 15px;
          }
          .category-name {
          }
        }
      }
    }
  }
}

.buttons-section {
  display: block;
  position: relative;
  .buttons-container {
    padding: 40px 20px;
    max-width: 1180px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    button {
      display: inline-block;
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      padding: 11px 12px;
      font-size: 15px;
      line-height: 1.35135;
      border-radius: 2px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      color: #fff;
      background-color: #eb6c00;
      border: 1px solid transparent;
      box-shadow: rgba(0, 0, 0, 0.75) -2px 2px 5px 0px;
    }
  }
}

// Custom swiper classes

::ng-deep {
  $button-radius: 46px;
  .swiper-button-prev {
    background-color: white;
    height: $button-radius;
    width: $button-radius;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    border-radius: $button-radius;
    top: 53%;
    left: 14px;
    &:after {
      font-size: 18px;
      font-weight: 900;
      color: darkorange;
    }
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
  .swiper-button-next {
    background-color: white;
    height: $button-radius;
    width: $button-radius;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    border-radius: $button-radius;
    top: 53%;
    right: 14px;
    &:after {
      font-size: 18px;
      font-weight: 900;
      color: darkorange;
    }
    @media screen and (max-width: 500px) {
      display: none;
    }
  }
}
