<section class="courses-jumbotron-section">
  <div class="jumbotron-wrapper">
    <div class="jumbotron-wrapper-overlay">
      <div class="jumbotron-conatiner">
        <div class="jumbotron-texts">
          <div class="jumbotron-title">Courses</div>
          <div class="jumbotron-description">
            Build your library for your career and personal growth
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="featuredCourses && featuredCourses.length > 0" class="courses-section">
  <div class="courses-container">
    <div class="title-container">
      <div class="title">Featured</div>
      <a>View all</a>
    </div>
    <div class="cards-container">
      <div
        class="course-card"
        *ngFor="let course of featuredCourses; let i = index"
      >
        <app-course-card [course]="course"></app-course-card>
      </div>
    </div>
  </div>
</section>

<div class="divider"></div>

<section *ngIf="categories && categories.length > 0" class="categories-section">
  <div class="categories-container">
    <div class="categories-title-container">
      <div class="categories-title">Categories</div>
      <a>View all</a>
    </div>
    <div class="categories-cards-container">
      <div
        class="category-card"
        *ngFor="let category of categories; let i = index"
      >
        <app-category-card [category]="category"></app-category-card>
      </div>
    </div>
  </div>
</section>

<div class="divider"></div>

<section *ngIf="recentCourses && recentCourses.length > 0" class="courses-section">
  <div class="courses-container">
    <div class="title-container">
      <div class="title">Rencently Added</div>
      <a>View all</a>
    </div>
    <div class="cards-container">
      <div
        class="course-card"
        *ngFor="let course of recentCourses; let i = index"
      >
        <app-course-card [course]="course"></app-course-card>
      </div>
    </div>
  </div>
</section>

<div class="divider"></div>

<section *ngIf="trendingCourses && trendingCourses.length > 0" class="courses-section">
  <div class="courses-container">
    <div class="title-container">
      <div class="title">Trending</div>
      <a>View all</a>
    </div>
    <div class="cards-container">
      <div
        class="course-card"
        *ngFor="let course of trendingCourses; let i = index"
      >
        <app-course-card [course]="course"></app-course-card>
      </div>
    </div>
  </div>
</section>

<div class="divider"></div>

<section class="buttons-section">
  <div class="buttons-container">
    <button class="focus-outline">My Courses</button>
    <button class="focus-outline" [routerLink]="['/courses/all']">
      All Courses
    </button>
  </div>
</section>
