<section class="categories-header-mobile">
  <div class="categories-header-container">
    <div
      *ngFor="let category of featuredCategories"
      class="category-container focus-outline"
      tabindex="0"
      [routerLink]="['/courses/categories', category.id]"
    >
      <i class="material-icons">{{category.materialIcon}}</i>
      <div>{{category.name}}</div>
    </div>
  </div>
</section>

<section class="categories-header">
  <div class="categories-header-container">
    <div
      *ngFor="let category of featuredCategories"
      class="category-container focus-outline"
      tabindex="0"
      [routerLink]="['/courses/categories', category.id]"
    >
      <i class="material-icons">{{category.materialIcon}}</i>
      <div>{{category.name}}</div>
    </div>
  </div>
</section>

<section class="courses-jumbotron-section">
  <div class="jumbotron-wrapper">
    <div class="jumbotron-wrapper-overlay">
      <div class="jumbotron-conatiner">
        <div class="jumbotron-texts">
          <div class="jumbotron-title">Courses</div>
          <div class="jumbotron-description">
            Build your library for your career and personal growth
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="featuredCourses && featuredCourses.length > 0" class="courses-slider-section">
  <div class="courses-container">
    <div class="title-container">
      <div class="title">Featured</div>
      <a class="focus-outline" [routerLink]="['/courses/all']" [queryParams]="{ page: 1 }" style="margin: 0px;">View all</a>
    </div>
    <div
      class="swiper-container"
      #featuredCoursesSwiper
      [swiper]="config"
      (indexChange)="onIndexChange($event)"
      style="width: 100%; margin-top: 20px;"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let i = index; let course of featuredCourses">
          <app-course-swiper-card [course]="course"></app-course-swiper-card>
        </div>
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
    <div class="swiper-button-prev" (click)="prevSlide()"></div>
    <div class="swiper-button-next" (click)="nextSlide()"></div>
  </div>
</section>



















<!-- <section *ngIf="featuredCourses && featuredCourses.length > 0" class="courses-section">
  <div class="courses-container">
    <div class="title-container">
      <div class="title">Featured</div>
      <a class="focus-outline" [routerLink]="['/courses/all']" [queryParams]="{ page: 1 }">View all</a>
    </div>
    <div class="cards-container">
      <div
        class="course-card"
        *ngFor="let i = index; let course of featuredCourses | paginate: { id: 'featured', itemsPerPage: featuredCoursesPage.size, currentPage: featuredCoursesPage.pageNumber, totalItems: featuredCoursesPage.totalElements }"
      >
        <app-course-card [course]="course"></app-course-card>
      </div>
    </div>
    <pagination-controls id="featured" class="pagination-controls" (pageChange)="featuredCoursesPageChanged($event)"></pagination-controls>
  </div>
</section> -->





<div class="divider"></div>

<section *ngIf="topCategories && topCategories.length > 0" class="categories-section">
  <div class="categories-container">
    <div class="categories-title-container">
      <div class="categories-title">Top Categories</div>
      <a>View all</a>
    </div>
    <div class="categories-cards-container">
      <!-- <div
        class="category-card"
        *ngFor="let category of topCategories; let i = index"
      >
        <app-category-card [category]="category"></app-category-card>
      </div> -->
      <div
        class="category-card-2"
        *ngFor="let category of topCategories; let i = index"
      >
        <div
          class="card-container focus-outline"
          tabindex="0"
          [routerLink]="['./categories', category.id]"
        >
          <i class="material-icons">{{category.materialIcon}}</i>
          <div class="category-name">{{category.name}}</div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="divider"></div>

<section *ngIf="recentCourses && recentCourses.length > 0" class="courses-section">
  <div class="courses-container">
    <div class="title-container">
      <div class="title">Rencently Added</div>
      <a class="focus-outline" [routerLink]="['/courses/all']" [queryParams]="{ page: 1 }">View all</a>
    </div>
    <div class="cards-container">
      <div
        class="course-card"
        *ngFor="let i = index; let course of recentCourses | paginate: { id: 'recent', itemsPerPage: recentCoursesPage.size, currentPage: recentCoursesPage.pageNumber, totalItems: recentCoursesPage.totalElements }"
      >
        <app-course-card [course]="course"></app-course-card>
      </div>
    </div>
    <pagination-controls id="recent" class="pagination-controls" (pageChange)="recentCoursesPageChanged($event)"></pagination-controls>
  </div>
</section>

<div class="divider"></div>

<section *ngIf="trendingCourses && trendingCourses.length > 0" class="courses-section">
  <div class="courses-container">
    <div class="title-container">
      <div class="title">Trending</div>
      <a class="focus-outline" [routerLink]="['/courses/all']" [queryParams]="{ page: 1 }">View all</a>
    </div>
    <div class="cards-container">
      <div
        class="course-card"
        *ngFor="let i = index; let course of trendingCourses | paginate: { id: 'trending', itemsPerPage: trendingCoursesPage.size, currentPage: trendingCoursesPage.pageNumber, totalItems: trendingCoursesPage.totalElements }"
      >
        <app-course-card [course]="course"></app-course-card>
      </div>
    </div>
    <pagination-controls id="trending" class="pagination-controls" (pageChange)="trendingCoursesPageChanged($event)"></pagination-controls>
  </div>
</section>

<div class="divider"></div>

<section class="buttons-section">
  <div class="buttons-container">
    <button class="focus-outline" *ngIf="isAuthenticated" [routerLink]="['/courses/my-courses/all']">My Courses</button>
    <button class="focus-outline" [routerLink]="['/courses/all']">All Courses</button>
  </div>
</section>
