<section class="footer">
  <div class="footer-inner">

    <div class="footer-container">
      <div class="logotype-section-container">
        <!-- Logo container -->
        <div class="logotype-container" routerLink="/">
            <img class="logotype" src="/assets/img/logos/logotype.svg" alt="Invest Naija Logotype" />
        </div>
        <div class="phrase">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
      </div>

      <div class="sitemap-container">
        <div class="contact-info-container">
          <div class="title">Contact Info</div>
          <div class="detail">Lorem ipsum street</div>
          <div class="detail">+ 44 55 66 77</div>
          <div class="detail">info@invest.com</div>
        </div>
        <div class="site-map-container">
          <div class="title">Site Map</div>
          <a class="link">Home</a>
          <a class="link">Learning</a>
          <a class="link">News</a>
          <a class="link">Events</a>
          <a class="link">Invest</a>
          <a class="link">Contact us</a>
        </div>
      </div>
    </div>

    <div class="kanto-studio-container">
      <small>Powered by <a href="https://kantostudio.com/" target="_blank"><img class="kanto" src="/assets/img/logos/kanto/kanto.svg" alt="kanto">Kanto Studio</a></small>
    </div>

  </div>
</section>
