.footer {
  border-top: 1px solid gainsboro;
  display: block;
  position: relative;
  z-index: 1010;
  background: #f3f3f3;
  .footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: inherit;
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
    padding: 40px 20px;
    padding-bottom: 10px;
    position: relative;
    z-index: 1011;
    .footer-container {
      display: flex;
      width: 100%;
      .logotype-section-container {
        // border: 1px solid dimgray;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .logotype-container {
          .logotype {
          }
        }
        .phrase {
          color: dimgray;
          margin-top: 20px;
          max-width: 300px;
          font-size: 14px;
        }
      }
      .sitemap-container {
        // border: 1px solid dimgray;
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .contact-info-container {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 20px;
          .title {
            font-family: 'Trebuchet MS', Helvetica, sans-serif;
            color: #1f5e11;
            font-size: 18px;
            margin-bottom: 10px;
          }
          .detail {
            color: dimgray;
            margin: 5px 0px;
            font-size: 14px;
          }
        }
        .site-map-container {
          flex-grow: 1;
          margin-left: 40px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 20px;
          .title {
            font-family: 'Trebuchet MS', Helvetica, sans-serif;
            color: #1f5e11;
            font-size: 18px;
            margin-bottom: 10px;
          }
          .link {
            color: dimgray;
            margin: 5px 0px;
            font-size: 14px;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              color: #1f5e11;
            }
          }
        }
      }
    }
  }
}

.bottom-section {
  background: #f3f3f3;
  border-top: 1px solid gainsboro;
  .kanto-studio-container {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    color: dimgray;
    width: 100%;
    a {
      text-decoration: none;
      color: #30b9db;
      cursor: pointer;
      .kanto {
        height: 13px;
        margin-bottom: -2px;
        margin-right: 3px;
      }
    }
  }
}
