<section class="course-jumbotron">
  <div class="course-jumbotron-wrapper">
    <div class="course-jumbotron-overlay">
      <div  *ngIf="course" class="course-jumbotron-container">
        <div class="top-container">
          <div class="category-container">
            <div
              class="category-indicator"
              [style.backgroundColor]="course.category.hexColor"
            ></div>
            <div class="category-name-container">
              <a class="category-name" [routerLink]="['/','courses','categories', course.category.id]">{{ course.category.name }}</a>
            </div>
          </div>
          <div class="favorite-container">
            <button mat-flat-button *ngIf="showArchiveButton && canArchiveCourse" class="wishlist-button" (click)="onArchiveCourse()">Archive course</button>
            <button mat-flat-button *ngIf="showArchiveButton && !canArchiveCourse" class="wishlist-button" (click)="onUnarchiveCourse()">Unarchive course</button>
            <button mat-flat-button *ngIf="showWishlistButton && canAddToWishlist" class="wishlist-button" (click)="onAddToWishlist()">Add to wishlist</button>
            <button mat-flat-button *ngIf="showWishlistButton && !canAddToWishlist" class="wishlist-button" (click)="onRemoveFromWishlist()">Remove from wishlist</button>
            <button mat-icon-button class="favorite-toggler-button">
              <i class="material-icons" (click)="isFavorite ? onUnfavoriteCourse() : onFavoriteCourse()">
                {{ isFavorite ? 'favorite' : 'favorite_border' }}
              </i>
            </button>
          </div>
        </div>
        <div class="middle-container">
          <div class="course-image-section">
            <div class="image-wrapper">
              <div
                class="course-image-container"
                [style.backgroundImage]="'url(' + course.imgUrl + ')'"
              >
                <div class="image-overlay"></div>
              </div>
            </div>
          </div>
          <div class="course-name">{{ course.name }}</div>
          <div class="buttons-container">
            <button mat-flat-button *ngIf="!enrolled && !showGoToCart && finalPrice !== 0" class="enroll-button focus-outline" (click)="onAddToCart(course.id)">Add to cart <i class="material-icons">add_shopping_cart</i></button>
            <button mat-flat-button *ngIf="!enrolled && showGoToCart" class="enroll-button focus-outline" [routerLink]="['/courses/cart']">Go to cart <i class="material-icons">shopping_cart</i></button>
            <button mat-flat-button *ngIf="!enrolled && finalPrice !== 0" class="buy-now-button focus-outline" (click)="onBuyNow()">Buy now</button>
            <button mat-flat-button *ngIf="!enrolled && finalPrice === 0" class="enroll-button focus-outline" (click)="onEnroll()">Enroll now</button>
            <button mat-flat-button *ngIf="enrolled" class="enroll-button focus-outline" tabindex="0" (click)="onGoToLearningView()">Learn Now <i class="material-icons">arrow_forward_ios</i></button>
          </div>
        </div>
        <div class="bottom-container">
          <div class="price-container">
            <div *ngIf="course.price === 0" class="free-container">
              <div class="free">Free</div>
            </div>
            <div *ngIf="course.price > 0 && course.discount === 0" class="price">
              {{ course.price | currency: 'NGN':'symbol-narrow' }}
            </div>
            <div *ngIf="course.price > 0 && course.discount > 0" class="price crossed">
              {{ course.price | currency: 'NGN':'symbol-narrow' }}
            </div>
            <div *ngIf="course.price > 0 && course.discount > 0" class="price">
              {{ course.price * (1 - course.discount) | currency: 'NGN':'symbol-narrow' }}
            </div>
          </div>
          <div *ngIf="course.rating" class="rating-container">
            <i class="material-icons">star</i>
            <div>{{course.rating | number:'1.0-1'}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<mat-tab-group class="tab-group" (selectedIndexChange)="onTabNavigation($event)" [(selectedIndex)]="selectedTabIndex">
  <mat-tab label="About">
    <div class="tab tab-about">
      <div class="description-title">Course overview</div>
      <div class="description-content" [innerHTML]="course.overview"></div>
    </div>
  </mat-tab>
  <mat-tab label="Content">
    <div class="tab tab-content">
      <div class="lessons-title">{{ course.courseObjects.length }} lessons</div>
      <div class="lessons-container nice-container-scroll">
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel #panel class="expansion-panel" hideToggle *ngFor="let object of course.courseObjects; let i = index;">
            <mat-expansion-panel-header>
              <mat-panel-title class="panel-title">
                <div class="object-number" *ngIf="!panel.expanded">{{1 + i}}. </div>
                <div class="title" *ngIf="!panel.expanded">{{ object.type === 'LESSON' ? object.courseObject.title : 'Quiz: ' + object.courseObject.title }}</div>
                <button mat-flat-button class="view-button" *ngIf="panel.expanded && object.type === 'LESSON'" (click)="onViewCourseObject(object)">View lesson</button>
                <button mat-flat-button class="view-button" *ngIf="panel.expanded && object.type === 'QUIZ'" (click)="onViewCourseObject(object)">Take quiz</button>
                <i *ngIf="panel.expanded" class="material-icons">
                  {{ object.type === 'QUIZ' ? 'assignment' : object.courseObject.type === 'VIDEO' ? 'play_circle_outline' : object.type === 'DOCUMENT' ? 'insert_drive_file' : 'subject' }}
                </i>
              </mat-panel-title>
              <mat-panel-description class="panel-description">
                <div class="duration">
                  {{ object.courseObject.type === 'VIDEO' ? (object.courseObject.fileDuration | readTime) : object.type === 'QUIZ' ? object.courseObject.assesments.length + ' assmt': (object.courseObject.readTime | readTime) }}
                  <i class="material-icons">
                    {{ object.courseObject.type === 'VIDEO' ? 'menu_book' : object.type === 'QUIZ' ? 'short_text' : 'access_time' }}
                  </i>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="topic">{{1 + i}}. {{ object.type === 'LESSON' ? object.courseObject.title : 'Quiz: ' + object.courseObject.title }}</div>
            <div>{{object.courseObject.description}}</div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Reviews">
    <div class="tab tab-reviews">
      <div class="reviews-title-container">
        <div *ngIf="course.totalReviews" class="reviews-title">{{ course.totalReviews }} reviews</div>
        <div *ngIf="!(course.totalReviews) || course.totalReviews === 0" class="reviews-title">0 reviews</div>
      </div>
      <div *ngIf="reviews && reviews.length > 0">
        <cdk-virtual-scroll-viewport
          class="virtual-scroll-viewport nice-container-scroll"
          itemSize="161"
          (scrolledIndexChange)="nextBatch($event, reviews.length)"
        >
          <div class="review-card animated slideInRight" *cdkVirtualFor="let review of reviews; let i = index; trackBy: trackByIdx">
            <app-review-card [review]="review"></app-review-card>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
      <div *ngIf="!reviews || reviews.length === 0" class="no-reviews-container">
        <div class="no-review-cards-container">
          <i class="material-icons">inbox</i>
          <div class="no-reviews-phrase">This course has no reviews</div>
        </div>
      </div>
      <div *ngIf="canRateCourse" class="rate-container">
        <button mat-raised-button [color]="'accent'" (click)="onRateCourse()">Rate this course</button>
      </div>
      <div *ngIf="userReview" class="user-review-container">
        <div class="reviews-title">Your review</div>
        <div class="user-review-card-container">
          <app-review-card [review]="userReview"></app-review-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab *ngIf="showCertificateTab" label="Certificate">
    <div *ngIf="showCertificateTab && showCertificate"
      class="tab tab-certificate"
    >
      <div class="certificate-wrapper">
        <div id="certificate" class="certificate">
          <div class="certificate-container">
            <img alt="Invest Naija Logotype" class="logotype" src="/assets/img/logos/logotype-certificate.svg">
            <div class="certificate-label">certificate</div>
            <div class="awarded-container">
              <div class="line"></div>
              <div class="awarded-label">this certificate is awarded to</div>
              <div class="line"></div>
            </div>
            <div class="name">
              <div class="user-names">{{user.name}} {{user.lastName}}</div>
              <div class="line name-line"></div>
            </div>
            <div class="course-details">
              <div class="course-data course-category">
                <div class="course-data-label">course category:</div>
                <div class="course-data-input">
                  <div class="course-value">{{course.category.name}}</div>
                  <div class="input-line"></div>
                </div>
              </div>
              <div class="course-data course-name">
                <div class="course-data-label">course name:</div>
                <div class="course-data-input">
                  <div class="course-value">{{course.name}}</div>
                  <div class="input-line"></div>
                </div>
              </div>
              <div class="course-data course-date">
                <div class="course-data-label">date:</div>
                <div class="course-data-input">
                  <div class="course-value">{{course.category.createdAt}}</div>
                  <div class="input-line"></div>
                </div>
              </div>
              <div class="course-data course-url">
                <div class="course-data-label">url:</div>
                <div class="course-data-input">
                  <div class="course-value">https://investnaija.com/courses/{{course.id}}</div>
                  <div class="input-line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button mat-flat-button class="download-certificate-button focus-outline" (click)="onDownloadCertificate()">Download certificate</button>
    </div>
    <div *ngIf="showCertificateTab && !showCertificate"
      class="tab tab-no-certificate"
    >
      <div class="no-certificate">
        <i class="material-icons">inbox</i>
        <div class="complete-phrase">Complete this course to download your certificate</div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- <div class="divider"></div> -->

<section *ngIf="relatedCourses && relatedCourses.length > 0" class="courses-section">
  <div class="courses-container">
    <div class="title-container">
      <div class="title">You might also be interested in</div>
      <a class="focus-outline" [routerLink]="['/courses/categories/', course.category.id]" [queryParams]="{ page: 1 }">View all</a>
    </div>
    <div class="cards-container">
      <div
        class="course-card"
        *ngFor="let course of relatedCourses; let i = index"
      >
        <app-course-card [course]="course"></app-course-card>
      </div>
    </div>
    <a class="focus-outline" [routerLink]="['/courses/categories/', course.category.id]" [queryParams]="{ page: 1 }">View all</a>
  </div>
</section>


