<section class="course-jumbotron">
  <div class="course-jumbotron-wrapper">
    <div class="course-jumbotron-overlay">
      <div  *ngIf="course" class="course-jumbotron-container">
        <div class="top-container">
          <div class="category-container">
            <div
              class="category-indicator"
              [style.backgroundColor]="course.category.hexColor"
            ></div>
            <div class="category-name-container">
              <a class="category-name" [routerLink]="['/','courses','categories', course.category.id]">{{ course.category.name }}</a>
            </div>
          </div>
          <div class="favorite-container">
            <div *ngIf="showArchiveButton && canArchiveCourse" class="wishlist-button" (click)="onArchiveCourse()">Archive course</div>
            <div *ngIf="showArchiveButton && !canArchiveCourse" class="wishlist-button" (click)="onUnarchiveCourse()">Unarchive course</div>
            <div *ngIf="showWishlistButton && canAddToWishlist" class="wishlist-button" (click)="onAddToWishlist()">Add to wishlist</div>
            <div *ngIf="showWishlistButton && !canAddToWishlist" class="wishlist-button" (click)="onRemoveFromWishlist()">Remove from wishlist</div>
            <div *ngIf="isFavorite" class="isFavorite">
              <i class="material-icons" (click)="onUnfavoriteCourse()">
                favorite
              </i>
            </div>
            <div *ngIf="!isFavorite" class="notFavorite">
              <i class="material-icons" (click)="onFavoriteCourse()">
                favorite_border
              </i>
            </div>
          </div>
        </div>
        <div class="middle-container">
          <div class="course-image-section">
            <div class="image-wrapper">
              <div
                class="course-image-container"
                [style.backgroundImage]="'url(' + course.imgUrl + ')'"
              >
                <div class="image-overlay"></div>
              </div>
            </div>
          </div>
          <div class="course-name">{{ course.name }}</div>
          <div class="buttons-container">
            <button *ngIf="!enrolled && !showGoToCart && course.price !== 0" class="enroll-button focus-outline" (click)="onAddToCart(course.id)">Add to cart <i class="material-icons">add_shopping_cart</i></button>
            <button *ngIf="!enrolled && showGoToCart" class="enroll-button focus-outline" [routerLink]="['/courses/cart']">Go to cart <i class="material-icons">shopping_cart</i></button>
            <button *ngIf="!enrolled && course.price !== 0" class="buy-now-button focus-outline" (click)="onBuyNow()">Buy now</button>
            <button *ngIf="!enrolled && course.price === 0" class="enroll-button focus-outline" (click)="onEnroll()">Enroll now</button>
            <button *ngIf="enrolled" class="enroll-button focus-outline" tabindex="0" [routerLink]="['./learn']">Learn Now <i class="material-icons">arrow_forward_ios</i></button>
          </div>
        </div>
        <div class="bottom-container">
          <div class="price-container">
            <div *ngIf="course.price === 0" class="free-container">
              <div class="free">Free</div>
            </div>
            <div *ngIf="course.price > 0" class="price">
              {{ course.price | currency: 'NGN':'symbol-narrow' }}
            </div>
          </div>
          <div *ngIf="course.rating" class="rating-container">
            <i class="material-icons">star</i>
            <div>{{course.rating | number:'1.0-1'}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tabs-section">
  <div class="tabs-container">
    <a
      class="tab-selector focus-outline"
      [class.active]="currentTab === 'about'"
      (click)="currentTab = 'about'"
      tabindex="0"
      [routerLink]="['./']"
      fragment="about"
    >
      About
    </a>
    <a
      class="tab-selector focus-outline"
      [class.active]="currentTab === 'lessons'"
      (click)="currentTab = 'lessons'"
      tabindex="0"
      [routerLink]="['./']"
      fragment="lessons"
    >
      Lessons
    </a>
    <a
      class="tab-selector focus-outline"
      [class.active]="currentTab === 'reviews'"
      (click)="currentTab = 'reviews'"
      tabindex="0"
      [routerLink]="['./']"
      fragment="reviews"
    >
      Reviews
    </a>
    <a
      *ngIf="showCertificateTab"
      class="tab-selector focus-outline"
      [class.active]="currentTab === 'certificate'"
      (click)="currentTab = 'certificate'"
      tabindex="0"
      [routerLink]="['./']"
      fragment="certificate"
    >
      Certificate
    </a>
  </div>
</section>

<section class="tab-content-section">
  <div *ngIf="course">
    <!-- About tab content -->
    <div *ngIf="currentTab === 'about'" class="tab tab-about">
      <div class="description-title">Course overview</div>
      <div class="description-content" [innerHTML]="course.overview"></div>
    </div>
    <!-- Lessons tab content -->
    <div *ngIf="currentTab === 'lessons'" class="tab tab-lessons">
      <div class="lessons-title">{{ course.lessons.length }} lessons</div>
      <div class="lessons-container nice-container-scroll">
        <div
          class="lesson-card"
          *ngFor="let lesson of course.lessons; let i = index"
        >
          <app-lesson-card
            [lesson]="lesson"
            [lessonNumber]="i + 1"
            [enrolled]="enrolled"
            (navigateToLesson)="navigateToLesson($event)"
          ></app-lesson-card>
        </div>
        <div
          class="lesson-card-small"
          *ngFor="let lesson of course.lessons; let i = index"
        >
          <div class="lesson-card-container">
            <div class="lesson-title" (click)="navigateToLesson(lesson.id)">{{lesson.title}}</div>
            <div class="lesson-description">{{lesson.description}}</div>
            <div class="lesson-details">
              <i *ngIf="lesson.type === 'DOCUMENT'" class="material-icons">
                insert_drive_file
              </i>
              <i *ngIf="lesson.type === 'ARTICLE'" class="material-icons">
                subject
              </i>
              <i *ngIf="lesson.type === 'VIDEO'" class="material-icons">
                play_circle_outline
              </i>
              <div *ngIf="lesson.type === 'VIDEO'" class="lesson-duration">
                {{ lesson.fileDuration | readTime }}
                <i class="material-icons">
                  access_time
                </i>
              </div>
              <div *ngIf="lesson.type !== 'VIDEO'" class="lesson-readtime">
                {{ lesson.readTime | readTime }}
                <i class="material-icons">
                  menu_book
                </i>
              </div>
              <i *ngIf="enrolled" class="material-icons focus-outline" tabindex="0" (click)="navigateToLesson(lesson.id)">navigate_next</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Reviews tab content -->
    <div *ngIf="currentTab === 'reviews'" class="tab tab-reviews">
      <div class="reviews-title-container">
        <div *ngIf="course.totalReviews" class="reviews-title">{{ course.totalReviews }} reviews</div>
        <div *ngIf="!(course.totalReviews) || course.totalReviews === 0" class="reviews-title">0 reviews</div>
      </div>
      <div *ngIf="reviews && reviews.length > 0">
        <cdk-virtual-scroll-viewport
          class="virtual-scroll-viewport nice-container-scroll"
          itemSize="161"
          (scrolledIndexChange)="nextBatch($event, reviews.length)"
        >
          <div class="review-card animated slideInRight" *cdkVirtualFor="let review of reviews; let i = index; trackBy: trackByIdx">
            <app-review-card [review]="review"></app-review-card>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
      <div *ngIf="!reviews || reviews.length === 0" class="no-reviews-container">
        <div class="no-review-cards-container">
          <i class="material-icons">inbox</i>
          <div class="no-reviews-phrase">This course has no reviews</div>
        </div>
      </div>
      <div *ngIf="canRateCourse" class="rate-container">
        <button mat-raised-button [color]="'accent'" (click)="onRateCourse()">Rate this course</button>
      </div>
      <div *ngIf="userReview" class="user-review-container">
        <div class="reviews-title">Your review</div>
        <div calss="user-review-card-container">
          <app-review-card [review]="userReview"></app-review-card>
        </div>
      </div>
    </div>
    <!-- Certificate tab content -->
    <div *ngIf="currentTab === 'certificate' && showCertificateTab && showCertificate"
      class="tab tab-certificate"
    >
      <div class="certificate-wrapper">
        <div id="certificate" class="certificate">
          <div class="certificate-container">
            <img alt="Invest Naija Logotype" class="logotype" src="/assets/img/logos/logotype-certificate.svg">
            <div class="certificate-label">certificate</div>
            <div class="awarded-container">
              <div class="line"></div>
              <div class="awarded-label">this certificate is awarded to</div>
              <div class="line"></div>
            </div>
            <div class="name">
              <div class="user-names">{{user.name}} {{user.lastName}}</div>
              <div class="line name-line"></div>
            </div>
            <div class="course-details">
              <div class="course-data course-category">
                <div class="course-data-label">course category:</div>
                <div class="course-data-input">
                  <div class="course-value">{{course.category.name}}</div>
                  <div class="input-line"></div>
                </div>
              </div>
              <div class="course-data course-name">
                <div class="course-data-label">course name:</div>
                <div class="course-data-input">
                  <div class="course-value">{{course.name}}</div>
                  <div class="input-line"></div>
                </div>
              </div>
              <div class="course-data course-date">
                <div class="course-data-label">date:</div>
                <div class="course-data-input">
                  <div class="course-value">{{course.category.createdAt}}</div>
                  <div class="input-line"></div>
                </div>
              </div>
              <div class="course-data course-url">
                <div class="course-data-label">url:</div>
                <div class="course-data-input">
                  <div class="course-value">https://investnaija.com/courses/{{course.id}}</div>
                  <div class="input-line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="download-certificate-button focus-outline" (click)="onDownloadCertificate()">Download certificate</button>
    </div>
    <div *ngIf="currentTab === 'certificate' && showCertificateTab && !showCertificate"
      class="tab tab-no-certificate"
    >
      <div class="no-certificate">
        <i class="material-icons">inbox</i>
        <div class="complete-phrase">Complete this course to download your certificate</div>
      </div>
    </div>
  </div>
</section>

<div class="divider"></div>

<section *ngIf="relatedCourses && relatedCourses.length > 0" class="courses-section">
  <div class="courses-container">
    <div class="title-container">
      <div class="title">You might also be interested in</div>
      <a class="focus-outline" [routerLink]="['/courses/categories/', course.category.id]" [queryParams]="{ page: 1 }">View all</a>
    </div>
    <div class="cards-container">
      <div
        class="course-card"
        *ngFor="let course of relatedCourses; let i = index"
      >
        <app-course-card [course]="course"></app-course-card>
      </div>
    </div>
    <a class="focus-outline" [routerLink]="['/courses/categories/', course.category.id]" [queryParams]="{ page: 1 }">View all</a>
  </div>
</section>
