.course-jumbotron {
  overflow: hidden;
  .course-jumbotron-wrapper {
    /* background-size: cover;
    resize: both;
    background-position-x: center;
    background-position-y: center; */
    background-image: url('/assets/img/jumbotrons/pattern.png');
    .course-jumbotron-overlay {
      // /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00878e+0,003a55+100&0.8+0,0.88+100 */
      // background: -moz-linear-gradient(left,  rgba(0,135,142,0.8) 0%, rgba(0,58,85,0.88) 100%); /* FF3.6-15 */
      // background: -webkit-linear-gradient(left,  rgba(0,135,142,0.8) 0%,rgba(0,58,85,0.88) 100%); /* Chrome10-25,Safari5.1-6 */
      // background: linear-gradient(to right,  rgba(0,135,142,0.8) 0%,rgba(0,58,85,0.88) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc00878e', endColorstr='#e0003a55',GradientType=1 ); /* IE6-9 */

      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00878e+25,003a55+75&0.75+0,0.75+100 */
      background: -moz-linear-gradient(left,  rgba(0,135,142,0.75) 0%, rgba(0,135,142,0.75) 25%, rgba(0,58,85,0.75) 75%, rgba(0,58,85,0.75) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(0,135,142,0.75) 0%,rgba(0,135,142,0.75) 25%,rgba(0,58,85,0.75) 75%,rgba(0,58,85,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(0,135,142,0.75) 0%,rgba(0,135,142,0.75) 25%,rgba(0,58,85,0.75) 75%,rgba(0,58,85,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf00878e', endColorstr='#bf003a55',GradientType=1 ); /* IE6-9 */
      display: block;
      position: relative;
      //$opacity: 0.1;
      .course-jumbotron-container {
        padding: 24px 20px;
        max-width: 1292px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        margin: auto;
        $font-color: white;
        $font-weight: 500;
        .top-container {
          display: flex;
          justify-content: space-between;
          z-index: 1;
          .category-container {
            display: flex;
            align-items: center;
            .category-indicator {
              /* width: 56px;
              height: 56px; */
              width: 10px;
              height: 10px;
              border-radius: 56px;
              display: flex;
              justify-content: center;
              align-items: center;
              box-shadow: rgba(0, 0, 0, 0.75) -2px 2px 5px 0px;
              .image-container {
                background-size: cover;
                resize: both;
                background-position-x: center;
                background-position-y: center;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                position: relative;
                .overlay {
                  width: 100%;
                  height: 100%;
                  border-radius: 100px;
                  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,fbfbfb+29&0.4+0,0+100 */
                  background: -moz-linear-gradient(
                    top,
                    rgba(0, 0, 0, 0.4) 0%,
                    rgba(251, 251, 251, 0.28) 29%,
                    rgba(251, 251, 251, 0) 100%
                  ); /* FF3.6-15 */
                  background: -webkit-linear-gradient(
                    top,
                    rgba(0, 0, 0, 0.4) 0%,
                    rgba(251, 251, 251, 0.28) 29%,
                    rgba(251, 251, 251, 0) 100%
                  ); /* Chrome10-25,Safari5.1-6 */
                  background: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.4) 0%,
                    rgba(251, 251, 251, 0.28) 29%,
                    rgba(251, 251, 251, 0) 100%
                  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00fbfbfb',GradientType=0 ); /* IE6-9 */
                }
              }
            }
            .category-name-container {
              padding: 0px 10px;
              display: flex;
              align-items: center;
              .category-name {
                text-decoration: none;
                font-family: 'Trebuchet MS', 'Bree Serif', serif;
                color: $font-color;
                font-weight: bold;
                cursor: pointer;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
          .favorite-container {
            display: flex;
            align-items: center;
            .wishlist-button {
              line-height: unset;
              font-size: 14px;
              padding: 4px 18px;
              text-decoration: none;
              vertical-align: middle;
              text-align: center;
              background: #FFFFFF;
              border-radius: 21px;
              background: #FFFFFF;
              color: #eb6c00;
              white-space: nowrap;
              cursor: pointer;
              @media screen and (min-width: 425px) {
                &:hover {
                  border-radius: 21px;
                  color: #FFFFFF;
                  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ef9d38+0,ec5a58+100 */
                  background: rgb(239,157,56); /* Old browsers */
                  background: -moz-linear-gradient(top,  rgba(239,157,56,1) 0%, rgba(236,90,88,1) 100%); /* FF3.6-15 */
                  background: -webkit-linear-gradient(top,  rgba(239,157,56,1) 0%,rgba(236,90,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
                  background: linear-gradient(to bottom,  rgba(239,157,56,1) 0%,rgba(236,90,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef9d38', endColorstr='#ec5a58',GradientType=0 ); /* IE6-9 */
                }
              }
            }
            .favorite-toggler-button {
              i {
                color: hotpink;
              }
            }
          }
        }
        .middle-container {
          font-family: Dinot;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: -20px;
          margin-bottom: -20px;
          .course-image-section {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .image-wrapper {
              /* padding: 5px;
              border: 1px solid gainsboro; */
              border-radius: 6px;
              background-color: white;
              box-shadow: 0px 14px 18px rgba(0, 0, 0, 0.303677);
              .course-image-container {
                border-radius: inherit;
                background-size: cover;
                resize: both;
                background-position-x: center;
                background-position-y: center;
                .image-overlay {
                  border-radius: inherit;
                  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+54 */
                  background: -moz-linear-gradient(
                    top,
                    rgba(0, 0, 0, 0.65) 0%,
                    rgba(0, 0, 0, 0) 54%,
                    rgba(0, 0, 0, 0) 100%
                  ); /* FF3.6-15 */
                  background: -webkit-linear-gradient(
                    top,
                    rgba(0, 0, 0, 0.65) 0%,
                    rgba(0, 0, 0, 0) 54%,
                    rgba(0, 0, 0, 0) 100%
                  ); /* Chrome10-25,Safari5.1-6 */
                  background: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0.65) 0%,
                    rgba(0, 0, 0, 0) 54%,
                    rgba(0, 0, 0, 0) 100%
                  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
                  width: 175px;
                  height: 130px;
                }
              }
            }
          }
          .course-name {
            padding: 15px;
            max-width: 520px;
            font-style: normal;
            font-weight: bold;
            font-size: 38px;
            line-height: 49px;
            text-align: center;
            letter-spacing: 1px;
            color: $font-color;
          }
          .buttons-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .enroll-button {
              font-family: Arial, Helvetica, sans-serif;
              display: flex;
              margin-bottom: 20px;
              align-items: center;
              font-weight: 600;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              padding: 6px 30px;
              font-size: 15px;
              line-height: 1.35135;
              border-radius: 20px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              cursor: pointer;
              border: none;
              color: #FFFFFF;
              /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ef9d38+0,ec5a58+100 */
              background: rgb(239,157,56); /* Old browsers */
              background: -moz-linear-gradient(top,  rgba(239,157,56,1) 0%, rgba(236,90,88,1) 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top,  rgba(239,157,56,1) 0%,rgba(236,90,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom,  rgba(239,157,56,1) 0%,rgba(236,90,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef9d38', endColorstr='#ec5a58',GradientType=0 ); /* IE6-9 */
              @media screen and (min-width: 425px) {
                &:hover {
                  border-radius: 20px;
                  color: #ED6056;
                  background: none;
                  background-color: white;
                }
              }
              i {
                margin-left: 10px;
                font-size: 22px;
              }
            }
            .buy-now-button {
              font-family: Arial, Helvetica, sans-serif;
              display: flex;
              margin-bottom: 20px;
              align-items: center;
              font-weight: 600;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              padding: 6px 30px;
              font-size: 15px;
              line-height: 1.35135;
              border-radius: 20px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              cursor: pointer;
              border: none;
              color: #ED6056;
              background: none;
              background-color: white;
              @media screen and (min-width: 425px) {
                &:hover {
                  border-radius: 20px;
                  color: #FFFFFF;
              /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ef9d38+0,ec5a58+100 */
              background: rgb(239,157,56); /* Old browsers */
              background: -moz-linear-gradient(top,  rgba(239,157,56,1) 0%, rgba(236,90,88,1) 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top,  rgba(239,157,56,1) 0%,rgba(236,90,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom,  rgba(239,157,56,1) 0%,rgba(236,90,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef9d38', endColorstr='#ec5a58',GradientType=0 ); /* IE6-9 */
                }
              }
              margin-left: 10px;
              @media screen and (max-width: 320px) {
                margin-left: 0px;
              }
            }
            @media screen and (max-width: 320px) {
              flex-direction: column;
            }
          }
          @media screen and (max-width: 650px) {
            margin: 10px 0px;
          }
        }
        .bottom-container {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .price-container {
            .free-container {
              /* background-color: white; */
              border-radius: 5px;
              padding: 1px;
              .free {
                background-color: gold;
                color: black;
                border-radius: 5px;
                border: 1px solid black;
                padding: 1px 5px;
                font-weight: bold;
                font-size: 12px;
              }
            }
            .price {
              color: $font-color;
              font-weight: $font-weight;
              font-size: 20px;
            }
            .crossed {
              text-decoration: line-through;
            }
          }
          .rating-container {
            display: flex;
            align-items: center;
            color: $font-color;
            font-size: 20px;
            font-weight: $font-weight;
            div {
              line-height: 1;
            }
            i {
              color: goldenrod;
              font-size: 26px;
              margin-right: 5px;
            }
          }
        }
        @media screen and (max-width: 425px) {
          padding: 20px;
        }
      }
    }
  }
}

.tab-group {
  .tab {
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1180px;
    padding: 20px 20px;
    padding-bottom: 40px;
    position: relative;
  }
  .tab-about {
    max-width: 900px;
    color: grey;
    .description-title {
      font-family: Dinot;
      font-size: 22px;
      font-weight: 600;
      margin: 0 0 10px;
      color: #29303b;
    }
    .description-content {
      padding: 40px;
      border-radius: 5px;
      background-color: white;
      border: 1px solid gainsboro;
      max-height: 400px;
      overflow: auto;
      @media screen and (max-width: 600px) {
        padding: 40px 15px;
      }
    }
    .description-content::-webkit-scrollbar {
      width: 8px;
      background-color: white;
      position: relative;
      border-radius: 5px;
    }
    .description-content::-webkit-scrollbar-track {
      background-color: white;
      position: relative;
      padding: 5px 0px;
      margin: 5px 0px;
      margin-right: 5px;
      padding-right: 5px;
    }
    .description-content::-webkit-scrollbar-thumb {
      background-color: #c1c1c1;
      border: 2px solid white;
      border-radius: 5px;
      margin: 5px 0px;
    }
  }
  .tab-content {
    max-width: 900px;
    .lessons-title {
      font-family: Dinot;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #29303b;
    }
    .lessons-container {
      $lessons-break: 800px;
      display: flex;
      flex-direction: column;
      padding: 40px 60px;
      background-color: #f5f5f5;
      border: 1px solid gainsboro;
      border-radius: 5px;
      max-height: 400px;
      overflow: auto;
      .lesson-card {
        margin-bottom: 40px;
        &:nth-last-child(1) {
          margin-bottom: 0px;
        }
        @media screen and (max-width: $lessons-break) {
          display: none;
        }
      }
      .lesson-card-small {
        margin-bottom: 15px;
        display: none;
        background-color: white;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 18px 0px;
        border-radius: 4px;
        .lesson-card-container {
          display: flex;
          flex-direction: column;
          width: 100%;
          .lesson-title {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bold;
            color: #1f5e11;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          .lesson-description {
            color: gray;
            margin-top: 10px;
            overflow: hidden;
            display: -webkit-box!important;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .lesson-details {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            color: rgb(83, 83, 83);
            .lesson-duration, .lesson-readtime {
              display: flex;
              align-items: center;
              i {
                margin-left: 3px;
              }
            }
          }
        }
        &:nth-last-child(1) {
          margin-bottom: 0px;
        }
        @media screen and (max-width: $lessons-break) {
          display: inherit;
        }
      }
      @media screen and (max-width: $lessons-break) {
        padding: 25px 15px;
      }
      .expansion-panel {
        //margin-bottom: 10px;
        .mat-content {
          height: 100%;
          align-items: center;
        }
        .mat-expansion-panel-header {
          padding: 0px 10px;
          .panel-title {
            height: 100%;
            align-items: center;
            flex-grow: 1;
            margin-right: 10px;
            font-weight: 600;
            color: #5D5D5D;
            .object-number {
              margin-right: 4px;
            }
            .title {
              max-height: 20px;
              overflow: hidden;
              display: -webkit-box!important;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }
            .view-button {
              height: 20px;
              line-height: unset;
              color: rgb(90, 90, 90);
              border: 1px solid gainsboro;
              border-radius: 4px;
            }
            i {
              color: dimgray;
              $duration-font-size: 16px;
              width: $duration-font-size;
              height: $duration-font-size;
              font-size: $duration-font-size;
              margin-left: 3px;
            }
          }
          .panel-description {
            flex-grow: unset;
            margin-right: 0px;
            .duration {
              display: flex;
              align-items: center;
              white-space: nowrap;
              font-size: 14px;
              font-weight: 600;
              color: #032C43;
              i {
                $duration-font-size: 16px;
                width: $duration-font-size;
                height: $duration-font-size;
                font-size: $duration-font-size;
                margin-left: 3px;
              }
            }
          }
        }
        ::ng-deep {
          .mat-expansion-panel-content {
            .mat-expansion-panel-body {
              padding: 0 10px 16px;
            }
          }
        }
        .topic {
          display: flex;
          font-weight: 600;
          font-size: 15px;
          color: #29303b;
          margin-bottom: 5px;
        }
      }
    }
  }
  .tab-reviews {
    max-width: 900px;
    .reviews-title {
      font-family: Dinot;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #29303b;
    }
    .reviews-title-container {
      display: flex;
      justify-content: space-between;
    }
    .virtual-scroll-viewport {
      display: flex;
      flex-direction: column;
      padding: 40px 60px;
      background-color: #f5f5f5;
      border: 1px solid gainsboro;
      border-radius: 5px;
      height: 400px;
      overflow-x: hidden;
      &::ng-deep {
        .cdk-virtual-scroll-content-wrapper {
          position: relative !important;
          top: unset !important;
          left: unset !important;
          contain: unset !important;
        }
      }
      .review-card {
        margin-bottom: 40px;
        &:nth-last-child(1) {
          //margin-bottom: 0px;
        }
      }
      @media screen and (max-width: 700px) {
        padding: 25px 15px;
      }
    }
    .no-reviews-container {
      display: flex;
      flex-direction: column;
      padding: 40px 60px;
      background-color: #f3f3f3;
      border: 1px solid gainsboro;
      border-radius: 5px;
      max-height: 400px;
      overflow: auto;
      .no-review-cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        i {
          font-size: 120px;
          color: #e8e9eb;
          margin-bottom: 20px;
        }
        .no-reviews-phrase {
          color: #29303b;
          text-align: center;
        }
      }
    }
    .rate-container {
      display: flex;
      margin-top: 20px;
      justify-content: center;
    }
    .user-review-container {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      .user-review-card-container {
        padding: 20px 65px;
        /* max-width: 738px;
        position: relative;
        margin: auto; */
        @media screen and (max-width: 700px) {
          padding: 25px 15px;
        }
      }
    }
  }
  .tab-certificate {
    align-items: center;
    .certificate-wrapper {
      width: 100%;
      max-width: 860px;
      overflow-x: scroll;
      display: flex;
      -webkit-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.14);
      -moz-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.14);
      box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.14);
      margin: 14px 0px;
      .certificate {
        width: 840px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 10px;
        background-image: url("../../../../../assets/img/certificate/certificate_template_vector_1_green.png");
        background-repeat: no-repeat;
        background-origin: content-box;
        background-size: 100% 100%;
        .certificate-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 100px;
          .logotype {
            margin-bottom: 30px;
          }
          .certificate-label {
            text-transform: uppercase;
            letter-spacing: 12px;
            font-family: none;
            color: dimgray;
            font-size: 50px;
          }
          .line {
            width: 150px;
            height: 2px;
            background-color: forestgreen;
          }
          .awarded-container {
            display: flex;
            align-items: center;
            .awarded-label {
              font-size: 10px;
              font-weight: 700;
              text-transform: uppercase ;
              margin: 0px 20px;
              color: #1f5e11;
            }
          }
          .name {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            margin-top: 40px;
            .user-names {
              font-family: 'Great Vibes', cursive;
              font-size: 54px;
              color: #1f5e11;
              margin-left: 30px;
              margin-right: 30px;
              text-align: center;
            }
            .name-line {
              background-color: darkgray;
              width: 100%;
            }
          }
          .course-details {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            border-left: 3px solid #ffa743;
            padding-left: 10px;
            .course-data {
              display: flex;
              align-items: center;
              margin: 2px 0px;
              .course-data-label {
                text-transform: uppercase;
                margin-right: 5px;
                font-size: 10px;
                font-weight: 700;
                text-transform: uppercase ;
                color: #1f5e11;
              }
              .course-data-input {
                flex-grow: 1;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                .course-value {
                  line-height: 1;
                  font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
                  color: dimgray;
                }
                .input-line {
                  height: 2px;
                  width: 100%;
                  background-color: darkgray;
                }
              }
            }
          }
        }
      }
    }
    .download-certificate-button {
      font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
      margin-top: 20px;
      display: inline-block;
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      padding: 11px 12px;
      font-size: 15px;
      line-height: 1.35135;
      border-radius: 2px;
      user-select: none;
      cursor: pointer;
      color: #fff;
      background-color: #eb6c00;
      border: 1px solid transparent;
      @media screen and (min-width: 425px) {
        &:hover {
          background-color: #1f5e11;
        }
      }
    }
  }
  .tab-no-certificate {
    max-width: 900px;
    .no-certificate {
      margin-top: 40px;
      align-items: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #f3f3f3;
      border: 1px solid gainsboro;
      border-radius: 5px;
      padding: 40px 60px;
      i {
        font-size: 120px;
        color: #e8e9eb;
        margin-bottom: 20px;
      }
      .complete-phrase {
        color: #29303b;
        text-align: center;
      }
    }
  }
  .nice-container-scroll {
    @media screen and (min-width: 425px) {
      &::-webkit-scrollbar {
        width: 8px;
        background-color: #f3f3f3;
        position: relative;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: #f3f3f3;
        position: relative;
        padding: 5px 0px;
        margin: 5px 0px;
        margin-right: 5px;
        padding-right: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
        border: 2px solid #f3f3f3;
        border-radius: 5px;
        margin: 5px 0px;
      }
    }
  }
  ::ng-deep {
    .mat-tab-header {
      border: none;
    }
    .mat-tab-list {
      background-color: #f5f5f5;
      .mat-tab-labels {
        justify-content: space-around;
        max-width: 1292px;
        padding: 0px 24px;
        margin: auto;
        .mat-tab-label {
          padding: 0px;
          flex-grow: 1;
          min-width: unset;
          max-width: 200px;
          .mat-tab-label-content {
            font-size: 16px;
            color: #29303b;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
            font-weight: bold;
            @media screen and (max-width: 425px) {
              font-size: 13px;
            }
          }
        }
        .mat-tab-label-active {
          opacity: 1;
        }
        @media screen and (max-width: 425px) {
          padding: 0px 20px;
        }
      }
      .mat-ink-bar {
        background-color: #F95654;
        height: 3px;
      }
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: gainsboro;
}

.courses-section {
  display: block;
  position: relative;
  background-color: #f5f5f5;
  .courses-container {
    padding: 40px 24px;
    max-width: 1290px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    margin: auto;
    a {
      margin-top: 10px;
      font-size: 18px;
      color: darkgray;
      text-decoration: underline;
      cursor: pointer;
      display: none;
      justify-content: center;
      @media screen and (max-width: 450px) {
        display: inherit;
      }
    }
    .title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Trebuchet MS', Helvetica, sans-serif;
      .title {
        color: #1b4568;
        font-size: 20px;
        font-weight: bold;
      }
      a {
        //margin-right: 20px;
        font-size: 18px;
        color: darkgray;
        text-decoration: underline;
        cursor: pointer;
        @media screen and (max-width: 450px) {
          display: none;
        }
      }
    }
    .cards-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      .course-card {
        margin: 10px;
        flex-grow: 1;
      }
    }
    @media screen and (max-width: 425px) {
      padding: 40px 20px;
    }
  }

  .buttons-container {
    padding: 40px 20px;
    max-width: 1180px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    button {
      display: inline-block;
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      padding: 11px 12px;
      font-size: 15px;
      line-height: 1.35135;
      border-radius: 2px;
      user-select: none;
      cursor: pointer;
      color: #fff;
      background-color: #eb6c00;
      border: 1px solid transparent;
      &:hover {
        background-color: #1f5e11;
      }
    }
  }
}

:host ::ng-deep .course-card-wrapper {
  display: flex;
  flex-grow: 1;
  max-width: 418px;
}

:host ::ng-deep .course-card-wrapper {
  display: flex;
  flex-grow: 1;
}

:host ::ng-deep .course-card-container {
  display: flex;
  flex-grow: 1;
}

:host ::ng-deep .gradient-overlay {
  width: 100% !important;
}

:host ::ng-deep .course-name {
  max-width: 220px;
}
