<section class="course-jumbotron">
  <div class="course-jumbotron-wrapper">
    <div class="course-jumbotron-overlay">
      <div class="course-jumbotron-container">
        <div class="top-container">
          <div class="category-container">
            <div
              class="category-indicator"
              [style.backgroundColor]="course.category.hexColor"
            >
              <!-- <div
                class="image-container"
                [style.backgroundImage]="'url(' + course.category.imgUrl + ')'"
              >
                <div class="overlay"></div>
              </div> -->
            </div>
            <div class="category-name-container">
              <div class="category-name">{{ course.category.name }}</div>
            </div>
          </div>
          <div class="favorite-container">
            <div *ngIf="isFavorite" class="isFavorite">
              <i class="material-icons">
                favorite
              </i>
            </div>
            <div *ngIf="!isFavorite" class="notFavorite">
              <i class="material-icons">
                favorite_border
              </i>
            </div>
          </div>
        </div>
        <div class="middle-container">
          <div class="course-image-section">
            <div class="image-wrapper">
              <div
                class="course-image-container"
                [style.backgroundImage]="'url(' + course.imgUrl + ')'"
              >
                <div class="image-overlay"></div>
              </div>
            </div>
          </div>
          <div class="course-name">{{ course.name }}</div>
          <div class="enroll-button-container">
            <button *ngIf="!enrolled" class="enroll-button">Enroll now</button>
            <button *ngIf="enrolled" class="enrolled-indicator" disabled="true">
              Enrolled
              <i class="material-icons">
                done
              </i>
            </button>
          </div>
        </div>
        <div class="bottom-container">
          <div class="price-container">
            <div *ngIf="price === 0" class="free-container">
              <div class="free">Free</div>
            </div>
            <div *ngIf="price > 0" class="price">
              {{ price | currency: 'NGN':'symbol-narrow' }}
            </div>
          </div>
          <div class="rating-container">
            <i class="material-icons">star</i>
            <div>{{ course.rating }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tabs-section">
  <div class="tabs-container">
    <a
      class="tab-selector focus-outline"
      [class.active]="currentTab === 'about'"
      (click)="currentTab = 'about'"
      tabindex="0"
      [routerLink]="['./']"
      fragment="about"
    >
      About
    </a>
    <a
      class="tab-selector focus-outline"
      [class.active]="currentTab === 'lessons'"
      (click)="currentTab = 'lessons'"
      tabindex="0"
      [routerLink]="['./']"
      fragment="lessons"
    >
      Lessons
    </a>
    <a
      class="tab-selector focus-outline"
      [class.active]="currentTab === 'reviews'"
      (click)="currentTab = 'reviews'"
      tabindex="0"
      [routerLink]="['./']"
      fragment="reviews"
    >
      Reviews
    </a>
    <a
      *ngIf="showCertificateTab"
      class="tab-selector focus-outline"
      [class.active]="currentTab === 'certificate'"
      (click)="currentTab = 'certificate'"
      tabindex="0"
      [routerLink]="['./']"
      fragment="certificate"
    >
      Certificate
    </a>
  </div>
</section>

<section class="tab-content-section">
  <div class="tab-content-container">
    <!-- About tab content -->
    <div *ngIf="currentTab === 'about'" class="tab tab-about">
      <div class="description-title">Description</div>
      <div class="description-content" [innerHTML]="course.overview"></div>
    </div>
    <!-- Lessons tab content -->
    <div *ngIf="currentTab === 'lessons'" class="tab tab-lessons">
      <div class="lessons-title">{{ course.lessons.length }} lessons</div>
      <div class="lessons-container">
        <div
          class="lesson-card"
          *ngFor="let lesson of course.lessons; let i = index"
        >
          <app-lesson-card
            [lesson]="lesson"
            [lessonNumber]="i + 1"
          ></app-lesson-card>
        </div>
      </div>
    </div>
    <!-- Reviews tab content -->
    <div *ngIf="currentTab === 'reviews'" class="tab tab-reviews">
      <div class="reviews-title">{{ course.totalReviews }} reviews</div>
      <div class="reviews-container">
        <div
          class="review-card"
          *ngFor="let review of course.reviews; let i = index"
        >
          <app-review-card
            [review]="review"
            [reviewNumber]="i + 1"
          ></app-review-card>
        </div>
      </div>
    </div>
    <!-- Certificate tab content -->
    <div
      *ngIf="currentTab === 'certificate' && showCertificateTab"
      class="tab tab-certificate"
    >
      <div style="width: 50px; height: 50px; background-color: blue;"></div>
    </div>
  </div>
</section>

<div class="divider"></div>

<section *ngIf="relatedCourses.length > 0" class="courses-section">
  <div class="courses-container">
    <div class="title-container">
      <div class="title">You might also be interested in</div>
      <a>View all</a>
    </div>
    <div class="cards-container">
      <div
        class="course-card"
        *ngFor="let course of relatedCourses; let i = index"
      >
        <app-course-card [course]="course"></app-course-card>
      </div>
    </div>
  </div>
</section>
