<div class="header">
  <div class="header-inner">
    <!-- Logo container -->
    <div class="logotype-container focus-outline" routerLink="/">
      <img
        class="logotype"
        src="/assets/img/logos/logotype.svg"
        alt="Invest Naija Logotype"
      />
    </div>
    <div class="logomark-container focus-outline" routerLink="/">
      <img
        class="logomark"
        src="/assets/img/logos/logomark.svg"
        alt="Invest Naija Logotype"
      />
    </div>

    <!-- Buttons container -->
    <div class="header-container">
      <ul class="navigation-links">
        <li class="nav-link">
          <a
            class="focus-outline"
            routerLink="/courses"
            routerLinkActive="active"
            (click)="currentSection = undefined"
            >Learning</a
          >
        </li>
        <li class="nav-link">
          <a
            class="focus-outline"
            routerLink="/news"
            routerLinkActive="active"
            (click)="currentSection = undefined"
            >News</a
          >
        </li>
        <li class="nav-link">
          <a
            class="focus-outline"
            routerLink="/events"
            routerLinkActive="active"
            (click)="currentSection = undefined"
            >Events</a
          >
        </li>
        <li class="nav-link">
          <a
            class="focus-outline"
            href="#invest"
            [class.active]="currentSection === 'invest'"
            >Invest</a
          >
        </li>
        <li class="nav-link">
          <a
            class="focus-outline"
            href="#contact"
            [class.active]="currentSection === 'contact'"
            >Contact</a
          >
        </li>
      </ul>

      <div class="divider-container">
        <div class="divider"></div>
      </div>

      <div class="cart-container">
        <i class="material-icons">shopping_cart</i>
      </div>

      <div
        *ngIf="user"
        class="user-section"
        (mouseenter)="showUserMenu = true"
        (mouseleave)="showUserMenu = false"
      >
        <div>{{ user.username }}</div>
        <div class="user-menu" *ngIf="showUserMenu">
          <div class="focus-outline" (click)="onLogout()">Log out</div>
        </div>
      </div>
      <div *ngIf="!user" class="register-section">
        <div class="login-button-container">
          <button class="login-button focus-outline" (click)="onLogin()">
            Log In
          </button>
        </div>
        <div class="signup-button-container">
          <button class="signup-button focus-outline" (click)="onRegister()">
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
