$break-small: 320px;
$break-large: 1290px;
$focus-border: 2px;

.header {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  display: block;
  position: relative;
  z-index: 1010;
  background: #f3f3f3;
  .header-inner {
    display: flex;
    justify-content: space-between;
    background: inherit;
    box-sizing: border-box;
    height: 65px;
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    z-index: 1011;
    .logotype-container {
      margin: 10px 0px;
      .logotype {
        height: 100%;
      }
      @media screen and (max-width: $break-large) {
        display: none;
      }
    }
    .logomark-container {
      margin: 10px 0px;
      .logomark {
        height: 100%;
      }
      display: none;
      @media screen and (max-width: $break-large) {
        display: inherit;
      }
    }
    .header-container {
      display: flex;
      font-family: 'Trebuchet MS', Helvetica, sans-serif;
      color: #1f5e11;
      font-size: 18px;
      .navigation-links {
        display: flex;
        align-items: center;
        padding: 0px 15px;
        .nav-link {
          list-style: none;
          margin: 0px 10px;
          a {
            color: #1f5e11;
            text-decoration: none;
            position: relative;
            &.active {
              &:before {
                content: '';
                position: absolute;
                z-index: -1;
                width: 100%;
                height: 3px;
                bottom: -22px;
                background-color: #eb7e00;
              }
            }
            &:visited {
              color: inherit;
            }
            &:hover {
              color: #408e2d;
            }
          }
        }
      }
      .divider-container {
        display: flex;
        align-items: center;
        margin: 0px 2px;
        .divider {
          height: 60%;
          border-left: 1px solid #dedfe0;
          margin: 0 8px;
        }
      }
      .cart-container {
        display: flex;
        align-items: center;
        margin: 0px 20px;
        i {
          cursor: pointer;
          &:hover {
            color: #408e2d;
          } 
        }
      }
      .user-section {
        position: relative;
        display: flex;
        align-items: center;
        width: 157.672px;
        justify-content: flex-end;
        .user-name-container {
          position: relative;
          &:hover {
            color: #408e2d;
          }
          .user-menu-wrapper {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            top: 0px;
            right: 0px;
            .user-menu-separator {
              width: 1px;
              height: 43px;
              z-index: -10;
            }
            .user-menu {
              display: flex;
              flex-direction: column;
              padding: 10px 0px;
              background-color: #f3f3f3;
              box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 10px -5px;
              cursor: pointer;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              color: rgb(90, 90, 90);
              position: relative;
              .user-details-container {
                display: flex;
                align-items: center;
                padding: 10px 20px;
                &:hover,
                &:focus {
                  background-color: rgb(223, 223, 223);
                }
                .profile-pic-container {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 50px;
                  height: 50px;
                  border: 1px solid grey;
                  border-radius: 50px;
                }
                .user-names-container {
                  display: flex;
                  flex-direction: column;
                  margin-left: 10px;
                  /* .user-names {
                  } */
                  .user-email {
                    color: grey;
                    font-size: 14px;
                  }
                }
              }
              .menu-section {
                cursor: pointer;
                padding: 10px 20px;
                &:hover,
                &:focus {
                  background-color: rgb(223, 223, 223);
                }
              }
              .menu-separator {
                height: 1px;
                background-color: gainsboro;
                margin: 3px 20px;
              }
            }
          }
        }
      }
      .register-section {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 13px;
        font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
        .login-button-container {
          margin-right: 4px;
          cursor: pointer;
          .login-button {
            display: inline-block;
            font-weight: 600;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            padding: 11px 12px;
            font-size: 15px;
            line-height: 1.35135;
            border-radius: 2px;
            user-select: none;
            cursor: pointer;

            color: #686f7a;
            background-color: #fff;
            border: 1px solid #686f7a;
            &:hover {
              color: #fff;
              background-color: #1f5e11;
            }
          }
        }
        .signup-button-container {
          cursor: pointer;
          .signup-button {
            display: inline-block;
            font-weight: 600;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
            padding: 11px 12px;
            font-size: 15px;
            line-height: 1.35135;
            border-radius: 2px;
            user-select: none;
            cursor: pointer;

            color: #fff;
            background-color: #eb6c00;
            border: 1px solid transparent;
            &:hover {
              background-color: #1f5e11;
            }
          }
        }
      }
    }
  }
}
