<div class="modal-container">
  <div class="modal-header">
    <div class="modal-title" style="margin-right: 20px;">
      Log In to Your Invest Naija Account.
    </div>
    <i class="material-icons">clear</i>
  </div>
  <div class="login-indicator">
    <i class="material-icons">
      person
    </i>
  </div>
  <div class="welcome-phrase">Welcome to Invest Naija!</div>
  <div class="credential-field">
    <mat-form-field appearance="outline">
      <mat-label>Username or email</mat-label>
      <input matInput placeholder="Username or email" />
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
  </div>
  <div class="credential-field">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
  </div>
  <div class="login-button-container">
    <button class="login-button focus-outline" (click)="onLogin()">
      Log In
    </button>
  </div>
  <div class="signup-phrase">
    Don't have an account? <a (click)="onSignup()">Sign up</a>
  </div>
</div>
