.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
  color: #29303b;
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    width: 100%;
    margin: 24px 0px;
    padding-bottom: 24px;
    .modal-title {
      margin: 0px 24px;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: #383838;
    }
    i {
      margin-right: 24px;
      cursor: pointer;
      &:hover {
        color: darkorange;
      }
    }
  }
  .login-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid;
    margin-bottom: 10px;
  }
  .welcome-phrase {
    margin-bottom: 20px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #383838;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 260px;
    .credential-field {
      width: 100%;
      mat-form-field {
        width: 100%;
      }
      mat-icon {
        margin-left: 10px;
      }
    }
    mat-icon {
      color: grey;
    }
    .alert-message {
      width: 100%;
      margin-bottom: 22px;
      color: #721c24;
      background-color: #f8d7da;
      border: 1px solid #f5c6cb;
      padding: 0.75rem 0px;
      border-radius: 0.25rem;
      text-align: center;
    }
    .login-button-container {
      width: 100%;
      justify-content: center;
      display: flex;
      .login-button {
        &:hover {
          background: #FFFFFF;
          border-radius: 21px;
          color: #218C90;
        }
        background: #FFFFFF;
        border-radius: 21px;
        color: #FFFFFF;
        white-space: nowrap;
        line-height: unset;
        padding: 8px 36px;
        cursor: pointer;
        background: #67C3A4; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #67C3A4 0%, #1F8D90 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #67C3A4 0%,#1F8D90 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #67C3A4 0%,#1F8D90 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67C3A4', endColorstr='#1F8D90',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      }
    }
  }
  .other-actions {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    .signup-phrase {
      margin-bottom: 5px;
      font-weight: bold;
      color: #383838;
      a {
        color: #218C90;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      @media screen and (max-width: 400px) {
        font-size: 14px;
      }
    }
  }
}
