.modal-container {
  display: flex; flex-direction: column; align-items: center;
  .modal-header {
    display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid gainsboro; width: 100%; padding-bottom: 24px; margin-bottom: 20px;
    .modal-title {
      margin-right: 20px;
    }
  }
  .login-indicator {
    display: flex; justify-content: center; align-items: center; width: 30px; height: 30px; border: 2px solid grey; padding: 10px; border-radius: 50px; margin-bottom: 20px;
  }
  .welcome-phrase {
    margin-bottom: 20px;
  }
  .login-button-container {
    margin-bottom: 20px;
    cursor: pointer;
    .login-button {
      display: inline-block;
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      padding: 11px 12px;
      font-size: 15px;
      line-height: 1.35135;
      border-radius: 2px;
      user-select: none;
      cursor: pointer;
      color: #fff;
      background-color: #eb6c00;
      border: 1px solid transparent;
      &:hover {
        background-color: #1f5e11;
      }
    }
  }
  .signup-phrase {
    margin-bottom: 20px;
  }
}





