<section class="category-jumbotron-section" *ngIf="category">
  <div class="jumbotron-wrapper" [style.backgroundImage]="'url(' + category.imgUrl + ')'">
    <div class="jumbotron-wrapper-overlay">
      <div class="jumbotron-conatiner">
        <div class="jumbotron-texts">
          <i class="material-icons">{{ category.materialIcon }}</i>
          <div class="jumbotron-title">{{ category.name }} Courses</div>
          <div class="jumbotron-description">
            Improve your skills and learn your way up in leading industries
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="featuredCourses">
  <section *ngIf="featuredCourses.length > 0" class="courses-section">
    <div class="courses-container">
      <div class="title-container">
        <div class="title">Featured</div>
      </div>
      <div class="cards-container">
        <div
          class="course-card"
          *ngFor="let i = index; let course of featuredCourses | paginate: { id: 'featured', itemsPerPage: featuredCoursesPage.size, currentPage: featuredCoursesPage.pageNumber, totalItems: featuredCoursesPage.totalElements }"
        >
          <app-course-card [course]="course"></app-course-card>
        </div>
      </div>
      <pagination-controls id="featured" class="pagination-controls" (pageChange)="featuredCoursesPageChanged($event)"></pagination-controls>
    </div>
  </section>
</div>

<div *ngIf="recentCourses">
  <section *ngIf="recentCourses.length > 0" class="category-courses-section">
    <div class="featured-courses-container">
      <div class="featured-title-container">
        <div class="featured-title" *ngIf="category">All {{ category.name }} Courses</div>
      </div>
      <div class="featured-cards-container">
        <div
          class="course-card"
          *ngFor="let i = index; let course of recentCourses | paginate: { id: 'recent', itemsPerPage: recentCoursesPage.size, currentPage: recentCoursesPage.pageNumber, totalItems: recentCoursesPage.totalElements }"
        >
          <app-course-card [course]="course"></app-course-card>
        </div>
      </div>
      <pagination-controls id="recent" class="pagination-controls" (pageChange)="recentCoursesPageChanged($event)"></pagination-controls>
    </div>
  </section>
</div>
