<section class="category-jumbotron-section" *ngIf="category">
  <div class="jumbotron-wrapper" [style.backgroundImage]="'url(' + category.imgUrl + ')'">
    <div class="jumbotron-wrapper-overlay">
      <div class="jumbotron-conatiner">
        <div class="jumbotron-texts">
          <i class="material-icons">{{ category.materialIcon }}</i>
          <div class="jumbotron-title">{{ category.name }} Courses</div>
          <div class="jumbotron-description">
            Improve your skills and learn your way up in leading industries
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="featuredCourses && featuredCourses.length > 0" class="courses-slider-section">
  <div class="courses-container">
    <div class="title-container">
      <div class="title">Featured</div>
      <a class="focus-outline" [routerLink]="['/courses/all']" [queryParams]="{ page: 1 }" style="margin: 0px;">View all</a>
    </div>
    <div
      class="swiper-container"
      #featuredCoursesSwiper
      [swiper]="config"
      (indexChange)="onIndexChange($event)"
      style="width: 100%; margin-top: 20px;"
      (reachEnd)="onReachEnd()"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let i = index; let course of featuredCourses">
          <app-course-swiper-card [course]="course"></app-course-swiper-card>
        </div>
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
    <div class="swiper-button-prev" *ngIf="showPrevBubtton" (click)="prevSlide()"></div>
    <div class="swiper-button-next" *ngIf="showNextButton" (click)="nextSlide()"></div>
  </div>
</section>

<div *ngIf="recentCourses">
  <section *ngIf="recentCourses.length > 0" class="category-courses-section">
    <div class="featured-courses-container">
      <div class="featured-title-container">
        <div class="featured-title" *ngIf="category">All {{ category.name }} Courses</div>
      </div>
      <div class="featured-cards-container">
        <div
          class="course-card"
          *ngFor="let i = index; let course of recentCourses | paginate: { id: 'recent', itemsPerPage: recentCoursesPage.size, currentPage: recentCoursesPage.pageNumber, totalItems: recentCoursesPage.totalElements }"
        >
          <app-course-card [course]="course"></app-course-card>
        </div>
      </div>
      <pagination-controls id="recent" class="pagination-controls" (pageChange)="recentCoursesPageChanged($event)"></pagination-controls>
    </div>
  </section>
</div>
