.lerning-header {
  display: block;
  position: relative;
  background: linear-gradient(#29303b, #29303b, #29303b);
  .header-container {
    max-width: 1180px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    .course-title {
      color: white;
      font-size: 20px;
      font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.column-container {
  display: flex;
  position: relative;
  .content-container {
    width: 75%;
    .content {
      border-right: 1px solid gainsboro;
    }
    .navigation-container {
      display: flex;
      justify-content: space-around;
      padding: 10px 20px;
      background-color: #3c454f;
      position: relative;
      border-right: 1px solid gainsboro;
      font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
      .navigation-button {
        display: flex;
        color: white;
        font-size: 13px;
        font-weight: 600;
        align-items: center;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:hover {
          .navigation-label {
            text-decoration: underline;
          }
        }
      }
      .complete-course-button {
        display: flex;
        color: white;
        font-size: 13px;
        font-weight: 600;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid white;
        &:hover {
          background-color: #26292c;
        }
      }
    }
    .tabs-container {
      display: flex;
      justify-content: space-around;
      padding: 20px 20px;
      background-color: #f3f3f3;
      position: relative;
      border-right: 1px solid gainsboro;
      border-bottom: 1px solid gainsboro;
      .tab-selector {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
        color: #29303b;
        position: relative;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        &.active {
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: -20px;
            background-color: darkorange;
          }
          &:hover {
            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 3px;
              bottom: -20px;
              background-color: darkorange;
            }
          }
        }
        &:hover {
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: -20px;
            background-color: #cc7000;
          }
        }
        &:visited {
          color: inherit;
        }
      }
    }
    .tab-content-container {
      display: block;
      position: relative;
      border-right: 1px solid gainsboro;
      .tab {
        box-sizing: border-box;
        overflow: hidden;
        margin: auto;
        display: flex;
        flex-direction: column;
        max-width: 1180px;
        padding: 20px 20px;
        padding-bottom: 40px;
        position: relative;
      }
      .tab-about {
        max-width: 900px;
        color: grey;
        .description-title {
          font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
          font-size: 22px;
          font-weight: 600;
          margin: 0 0 10px;
          color: #29303b;
        }
        .description-content {
          padding: 40px;
          border-radius: 5px;
          background-color: white;
          border: 1px solid gainsboro;
          max-height: 400px;
          overflow: auto;
        }
        .description-content::-webkit-scrollbar {
          width: 8px;
          background-color: white;
          position: relative;
          border-radius: 5px;
        }
        .description-content::-webkit-scrollbar-track {
          /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); */
          background-color: white;
          position: relative;
          padding: 5px 0px;
          margin: 5px 0px;
          margin-right: 5px;
          padding-right: 5px;
        }
        .description-content::-webkit-scrollbar-thumb {
          background-color: #c1c1c1;
          border: 2px solid white;
          border-radius: 5px;
          margin: 5px 0px;
        }
      }
      .tab-reviews {
        max-width: 900px;
        .reviews-title {
          font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
          font-size: 22px;
          font-weight: 600;
          margin-bottom: 10px;
          color: #29303b;
        }
        .reviews-title-container {
          display: flex;
          justify-content: space-between;
        }
        .reviews-container {
          display: flex;
          flex-direction: column;
          padding: 40px 60px;
          background-color: #f3f3f3;
          border: 1px solid gainsboro;
          border-radius: 5px;
          max-height: 400px;
          overflow: auto;
          .review-card {
            margin-bottom: 40px;
          }
          .no-review-cards-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            i {
              font-size: 120px;
              color: #e8e9eb;
              margin-bottom: 20px;
            }
            .no-reviews-phrase {
              color: #29303b;
            }
          }
        }
        .virtual-scroll-viewport {
          display: flex;
          flex-direction: column;
          padding: 40px 60px;
          background-color: #f3f3f3;
          border: 1px solid gainsboro;
          border-radius: 5px;
          height: 400px;
          overflow-x: hidden;
          &::ng-deep {
            .cdk-virtual-scroll-content-wrapper {
              position: relative !important;
              top: unset !important;
              left: unset !important;
              contain: unset !important;
            }
          }
          .review-card {
            margin-bottom: 40px;
          }
          .no-review-cards-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            i {
              font-size: 120px;
              color: #e8e9eb;
              margin-bottom: 20px;
            }
            .no-reviews-phrase {
              color: #29303b;
            }
          }
        }

        .reviews-container-2 {
          display: flex;
          flex-direction: column;
          padding: 40px 60px;
          background-color: #f3f3f3;
          border: 1px solid gainsboro;
          border-radius: 5px;
          max-height: 400px;
          overflow: auto;
          .review-card {
            margin-bottom: 40px;
          }
          .no-review-cards-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            i {
              font-size: 120px;
              color: #e8e9eb;
              margin-bottom: 20px;
            }
            .no-reviews-phrase {
              color: #29303b;
            }
          }
          .no-review-cards-container-2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            i {
              font-size: 120px;
              color: #e8e9eb;
              margin-bottom: 20px;
            }
            .no-reviews-phrase {
              color: #29303b;
            }
          }
        }
        .rate-container {
          display: flex;
          margin-top: 20px;
          justify-content: center;
        }
        .user-review-container {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
        }
      }
      .tab-lessons,
      .tab-no-certificate {
        max-width: 900px;
        .lessons-title,
        .reviews-title {
          font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
          font-size: 22px;
          font-weight: 600;
          margin-bottom: 10px;
          color: #29303b;
        }
        .lessons-container,
        .reviews-container {
          display: flex;
          flex-direction: column;
          padding: 40px 60px;
          background-color: #f3f3f3;
          border: 1px solid gainsboro;
          border-radius: 5px;
          max-height: 400px;
          overflow: auto;
          .lesson-card,
          .review-card {
            margin-bottom: 40px;
          }
        }
        .lessons-container::-webkit-scrollbar,
        .reviews-container::-webkit-scrollbar {
          width: 8px;
          background-color: #f3f3f3;
          position: relative;
          border-radius: 5px;
        }
        .lessons-container::-webkit-scrollbar-track,
        .reviews-container::-webkit-scrollbar-track {
          background-color: #f3f3f3;
          position: relative;
          padding: 5px 0px;
          margin: 5px 0px;
          margin-right: 5px;
          padding-right: 5px;
        }
        .lessons-container::-webkit-scrollbar-thumb,
        .reviews-container::-webkit-scrollbar-thumb {
          background-color: #c1c1c1;
          border: 2px solid #f3f3f3;
          border-radius: 5px;
          margin: 5px 0px;
        }
        .no-certificate {
          margin-top: 40px;
          align-items: center;
          i {
            font-size: 120px;
            color: #e8e9eb;
            margin-bottom: 20px;
          }
          .complete-phrase {
            color: #29303b;
          }
        }
      }
      .tab-certificate {
        align-items: center;
        .certificate-wrapper {
          display: flex;
          -webkit-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.14);
          -moz-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.14);
          box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.14);
          margin: 14px 0px;
          .certificate {
            position: relative;
            width: 840px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            padding: 10px;
            background-image: url("../../../../../assets/img/certificate/certificate_template_vector_1_green.png");
            background-repeat: no-repeat;
            background-origin: content-box;
            background-size: 100% 100%;
            .certificate-container {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 100px;
              .logotype {
                margin-bottom: 30px;
              }
              .certificate-label {
                text-transform: uppercase;
                letter-spacing: 12px;
                font-family: none;
                color: dimgray;
                font-size: 50px;
              }
              .line {
                width: 150px;
                height: 2px;
                background-color: forestgreen;
              }
              .awarded-container {
                display: flex;
                align-items: center;
                .awarded-label {
                  font-size: 10px;
                  font-weight: 700;
                  text-transform: uppercase ;
                  margin: 0px 20px;
                  color: #1f5e11;
                }
              }
              .name {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                margin-top: 40px;
                .user-names {
                  font-family: 'Great Vibes', cursive;
                  font-size: 54px;
                  color: #1f5e11;
                  margin-left: 30px;
                  margin-right: 30px;
                  text-align: center;
                }
                .name-line {
                  background-color: darkgray;
                  width: 100%;
                }
              }
              .course-details {
                display: flex;
                flex-direction: column;
                margin-top: 40px;
                border-left: 3px solid #ffa743;
                padding-left: 10px;
                .course-data {
                  display: flex;
                  align-items: center;
                  margin: 2px 0px;
                  .course-data-label {
                    text-transform: uppercase;
                    margin-right: 5px;
                    font-size: 10px;
                    font-weight: 700;
                    text-transform: uppercase ;
                    color: #1f5e11;
                  }
                  .course-data-input {
                    flex-grow: 1;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .course-value {
                      line-height: 1;
                      font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
                      color: dimgray;
                    }
                    .input-line {
                      height: 2px;
                      width: 100%;
                      background-color: darkgray;
                    }
                  }
                }
              }
            }
          }
        }
        .download-certificate-button {
          font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
          margin-top: 20px;
          display: inline-block;
          font-weight: 600;
          text-align: center;
          vertical-align: middle;
          white-space: nowrap;
          padding: 11px 12px;
          font-size: 15px;
          line-height: 1.35135;
          border-radius: 2px;
          user-select: none;
          cursor: pointer;
          color: #fff;
          background-color: #eb6c00;
          border: 1px solid transparent;
          &:hover {
            background-color: #1f5e11;
          }
        }
        .no-certificate {
          display: flex;
          flex-direction: column;
          padding: 40px 60px;
          background-color: #f3f3f3;
          border: 1px solid gainsboro;
          border-radius: 5px;
          max-height: 400px;
          overflow: auto;
          margin-top: 60px;
        }
      }
    }
  }
  .sidebar-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    .sidebar {
      flex-grow: 1; // Esta
      /* display: block;
      box-sizing: border-box; */
      display: flex;
      flex-direction: column;
      .sidebar-header {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5em;
        display: flex;
        justify-content: space-between;
        padding: 17.5px;
        background-color: #f3f3f3;
        border-bottom: 1px solid gainsboro;
        border-right: none;
        color: #29303b;
        font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
      }
      .lesson-card-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
        direction: rtl;
        max-height: 1084px;
        position: relative;
        .lesson-container {
          padding: 15px 20px;
          display: flex;
          flex-direction: row-reverse;
          border-bottom: 1px solid gainsboro;
          background-color: white;
          .left {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 18px;
            i {
              color: #357d24;
            }
          }
          .middle {
            display: flex;
            flex-direction: column;
            color: #29303b;
            font-family: open sans, helvetica neue, Helvetica, Arial, sans-serif;
            .number-title-container {
              display: flex;
              flex-direction: row-reverse;
              align-items: flex-start;
              font-size: 15px;
              font-weight: 600;
              a {
                text-align: left;
                margin-left: 10px;
                color: #29303b;
                cursor: pointer;
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                }
                &:visited {
                  color: #29303b;
                  text-decoration: none;
                }
                &.active {
                  /* background-color: red; */
                  color: #f18d02;
                }
              }
            }
            .type-duration-container {
              margin-top: 5px;
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              color: #29303bbe;
              font-size: 14px;
              .type {
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                  font-size: 20px;
                }
              }
              .duration {
                margin-left: 10px;
                .lesson-duration,
                .lesson-readtime {
                  display: flex;
                  flex-direction: row-reverse;
                  align-items: center;
                  i {
                    font-size: 20px;
                    margin-left: 5px;
                  }
                }
              }
            }
          }
          /* .right {
          } */
        }
        #item_direction {
          direction: ltr;
        }
      }
      .lesson-card-container::-webkit-scrollbar {
        width: 8px;
        background-color: #f5f5f5;
      }
      .lesson-card-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
      }
      .lesson-card-container::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
      }
    }
  }
}

.courses-section {
  display: block;
  position: relative;
  border-top: 1px solid gainsboro;
  .courses-container {
    padding: 40px 20px;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    .title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Trebuchet MS', Helvetica, sans-serif;
      .title {
        color: #1b4568;
        font-size: 20px;
        font-weight: bold;
      }
      a {
        margin-right: 20px;
        font-size: 18px;
        color: darkgray;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .cards-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 10px;
      .course-card {
        margin: 10px 0px;
        margin-right: 15px;
      }
    }
  }
  .buttons-container {
    padding: 40px 20px;
    max-width: 1180px;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    button {
      display: inline-block;
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      padding: 11px 12px;
      font-size: 15px;
      line-height: 1.35135;
      border-radius: 2px;
      user-select: none;
      cursor: pointer;
      color: #fff;
      background-color: #eb6c00;
      border: 1px solid transparent;
      &:hover {
        background-color: #1f5e11;
      }
    }
  }
}
