<div class="card">
  <div class="balance">
    <div class="money">
      ₦
    </div>
    <div class="amount">
      {{ account?.overallBalance | currency: ' ' }}
    </div>
  </div>
  <p class="subtitle">
    Last 30 days
  </p>
  <div class="in-out">
    <div class="flow">
      <h3 class="inflow">Deposits</h3>
      ₦ {{ account?.currentMonthDeposits | currency: ' ' }}
    </div>
    <div class="flow">
      <h3 class="outflow">Withdrawals</h3>
      ₦ {{ account?.currentMonthWithdrawals | currency: ' ' }}
    </div>
  </div>
  <img class="icon" src="/assets/icons/in-fade.svg" alt="invest_naija" />
</div>
