.lesson-card-wrapper {
  display: flex;
  flex-grow: 1;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 18px 0px;
  .lesson-card-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    .lesson-type-container {
      display: flex;
      align-items: center;
      padding: 0px 20px;
      i {
        font-size: 70px;
        color: lightgrey;
      }
    }
    .video-details-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding: 10px 0px;
      position: relative;
      .lesson-title-container {
        display: flex;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        color: #1f5e11;
        margin-bottom: 10px;
        justify-content: space-between;
        .left {
          display: flex;
          .lesson-number {
            font-size: 18px;
          }
          .lesson-title {
            font-size: 18px;
            margin-left: 10px;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .right {
          .lesson-duration,
          .lesson-readtime {
            display: flex;
            align-items: center;
            i {
              font-size: 20px;
              margin-left: 5px;
            }
          }
        }
      }
      .description-container {
        height: 66px;
        overflow: hidden;
        .description {
          color: gray;
          font-size: 15px;
        }
      }
      .read-more-container {
        display: flex;
        padding-top: 5px;
        box-shadow: 0px 0px 4px 2px #ffffff;
        height: 17px;
        .read-more {
          color: lightgray;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .navigate-container {
      display: flex;
      align-items: center;
      padding: 0px 20px;
      i {
        font-size: 70px;
        color: #1f5e11;
        cursor: pointer;
      }
    }
  }
}
