.lesson-card-wrapper {
  display: flex;
  flex-grow: 1;
  .lesson-card-container {
    display: flex;
    flex-grow: 1;
    background-color: white;
    position: relative;
    padding: 10px;
    /* border: 1px solid gainsboro; */
    box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 8px -2px;
    .lesson-type-container {
      i {
        font-size: 60px;
        color: gray;
      }
    }
    .video-details-container {
    }
  }
}
