<div class="jumbotron">
  <img src="/assets/img/landing/jumbotron.jpg" />
  <div class="gradient-wrapper">
    <div class="jumbotron-content">
      <div class="chingadera-blanca"></div>
      <div class="content">
        <div class="texts">
          <div class="quality" style="max-width: 560px;">
            "An investment in knowledge pays the best interest..."
          </div>
          <!-- <div class="bank-service">Bank Service</div> -->
          <div class="phrase">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="special-section">
  <div class="section-1">
    <div class="section-1-container">
      <div class="chingadera-verde-obscuro"></div>
      <div class="chingadera-verde"></div>
      <div class="conatiner">
        <div class="texts">
          <div class="quality">Learn the basics of financial investment</div>
          <div class="phrase">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem
          </div>
          <div class="enroll-button-container">
            <div class="enroll-button">Enroll now</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-section">
    <div class="content">
      <div class="landing-card card-1">
        <div class="card-text">View common questions</div>
        <div class="card-button">Learn more</div>
      </div>
      <div class="landing-card card-2">
        <div class="card-text">Request more information</div>
        <div class="card-button">Learn more</div>
      </div>
    </div>
  </div>
</div>

<div class="our-service-section">
  <div class="chingadera-verde"></div>
  <div class="content">
    <div class="image"></div>
    <div class="texts">
      <div class="quality">Group savings... Yes or Nai</div>
      <div class="phrase">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been
      </div>
      <div class="enroll-button-container">
        <div class="enroll-button">Read more</div>
      </div>
    </div>
  </div>
</div>

<div class="banking-section">
  <div class="chingadera-verde"></div>
  <div class="content">
    <div class="texts">
      <div class="quality">Savings and investment has never been so easy</div>
      <div class="phrase">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been
      </div>
      <div class="enroll-button-container">
        <div class="enroll-button">Read more</div>
      </div>
    </div>
    <div class="image"></div>
  </div>
</div>

<div class="events-section">
  <div class="chingadera-verde"></div>
  <div class="content">
    <div class="image"></div>
    <div class="texts">
      <div class="quality">Upcoming events</div>
      <div class="phrase">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been
      </div>
      <div class="enroll-button-container">
        <div class="enroll-button">Read more</div>
      </div>
    </div>
  </div>
</div>

<div class="community-wrapper">
  <div class="community">
    <div class="title">Involve our Communities</div>
    <div class="phrase">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the
    </div>
    <div class="more-button">Join us</div>
  </div>
</div>

<div class="help-section">
  <div class="chingadera-verde"></div>
  <div class="content">
    <div class="texts">
      <div class="quality">How can we help you?</div>
      <div class="phrase">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been
      </div>
      <div class="enroll-button-container">
        <div class="enroll-button">Read more</div>
      </div>
    </div>
    <div class="image"></div>
  </div>
</div>

<div class="contact-section">
  <div class="content">
    <div class="phrase">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
    <div class="contact-button">Contact</div>
  </div>
</div>

<!-- <div class="container" fxLayout="row">
  <div class="leading" fxLayout="row" fxLayoutAlign="center center">
    <div
      class="left text-block"
      fxFlex="1 1 calc(15em + 20px)"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <h2>MAKING AND UNDERSTANDING FINANCIAL DECISIONS</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes,
      </p>
      <button mat-raised-button color="accent">
        Apply Now
      </button>
    </div>
    <div class="right" fxFlex="2 2 calc(15em + 20px)"></div>
  </div>
</div>
<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="info-wrapper" fxLayout="row" fxLayoutAlign="space-around start">
    <div class="info">
      <div
        class="info-header"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="4px"
      >
        <mat-icon>help_outline</mat-icon>
        <h3>View Common Questions</h3>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa.
      </p>
      <button mat-raised-button color="accent">Learn more</button>
    </div>
    <div class="info">
      <div
        class="info-header"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="4px"
      >
        <mat-icon>info</mat-icon>
        <h3>Request More Information</h3>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa.
      </p>
      <button mat-raised-button color="accent">Learn more</button>
    </div>
  </div>
</div>
<div class="container" fxLayout="row">
  <div class="service" fxLayout="row" fxLayoutAlign="center center">
    <div class="left" fxFlex="1 1 calc(15em + 20px)"></div>
    <div
      class="right text-block"
      fxFlex="1 1 calc(15em + 20px)"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <h2>OUR SERVICE</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes,
      </p>
      <button mat-raised-button color="accent">
        Read more
      </button>
    </div>
  </div>
</div>
<div class="container" fxLayout="row">
  <div class="app" fxLayout="row" fxLayoutAlign="center center">
    <div
      class="left text-block"
      fxFlex="1 1 calc(15em + 20px)"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <h2>BANKING HAS NEVER BEEN SO EASY OR EFFICIENT</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes,
      </p>
      <button mat-raised-button color="accent">
        Download the App
      </button>
    </div>
    <div class="right" fxFlex="1 1 calc(15em + 20px)"></div>
  </div>
</div>
<div class="container" fxLayout="row">
  <div class="events" fxLayout="row" fxLayoutAlign="center center">
    <div class="left" fxFlex="1 1 calc(15em + 20px)"></div>
    <div
      class="right text-block"
      fxFlex="1 1 calc(15em + 20px)"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <h2>UPCOMING EVENTS</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes,
      </p>
      <button mat-raised-button color="accent">
        Read more
      </button>
    </div>
  </div>
</div>
<div class="community-wrapper">
  <div class="community" fxLayout="column" fxLayoutAlign="center stretch">
    <div class="community-info">
      <h2>INVOLVE OUR COMMUNITIES</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes,
      </p>
      <button mat-raised-button color="accent">Read more</button>
    </div>
  </div>
</div>
<div class="container" fxLayout="row">
  <div class="help" fxLayout="row" fxLayoutAlign="center center">
    <div
      class="left text-block"
      fxFlex="1 1 calc(15em + 20px)"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <h2>HOW CAN WE HELP YOU?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes.
      </p>
      <button mat-raised-button color="accent">
        Read more
      </button>
    </div>
    <div class="right" fxFlex="1 1 calc(15em + 20px)"></div>
  </div>
</div>
<div class="contact" fxLayout="row">
  <div class="inner-contact" fxLayout="row">
    <div class="left" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      </p>
    </div>
    <div class="right" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="accent">Contact</button>
    </div>
  </div>
</div> -->
