$auroraLightGreen: #35a881;
$auroraDarkGreen: #166047;
// Old colors
$auroraRed: #EC5A5A;
$auroraBlue: #032C43;

.jumbotron {
  overflow: hidden;
  position: relative;
  height: 640px;
  img {
    width: 100%;
    height: auto;
    $animation-time: 15s;
    animation: kenburns1 $animation-time ease-in-out infinite alternate;
    @media screen and (max-width: 950px) {
      animation: kenburns2 $animation-time ease-in-out infinite alternate;
    }
    @media screen and (max-width: 600px) {
      animation: kenburns3 $animation-time ease-in-out infinite alternate;
    }
    @media screen and (max-width: 420px) {
      height: 100%;
      animation: kenburns4 $animation-time ease-in-out infinite alternate;
    }
    @media screen and (max-width: 360px) {
      height: 100%;
      animation: kenburns5 $animation-time ease-in-out infinite alternate;
    }
    @media screen and (max-width: 320px) {
      height: 100%;
      animation: kenburns5 $animation-time ease-in-out infinite alternate;
    }
  }
  .gradient-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    // Gradient old

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/$auroraBlue+0$auroraRed+100&0.7+0,0.5+100 */
    // background: -moz-linear-gradient(top,  rgba(53,168,129,0.7) 0%, rgba(22,96,71,0.5) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top,  rgba(53,168,129,0.7) 0%,rgba(22,96,71,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom,  rgba(53,168,129,0.7) 0%,rgba(22,96,71,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b$auroraBlue', endColorstr='#8$auroraRed',GradientType=0 ); /* IE6-9 */

    // Gradient new

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#037a74+0,052d42+100&0.5+0,0.7+100 */
    background: -moz-linear-gradient(top,  rgba(4,135,135,0.8) 0%, rgba(5,45,66,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(4,135,135,0.8) 0%,rgba(5,45,66,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(4,135,135,0.8) 0%,rgba(5,45,66,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80048787', endColorstr='#b3052d42',GradientType=0 ); /* IE6-9 */

    display: flex;
    flex-direction: column;
    justify-content: center;
    .jumbotron-content {
      position: relative;
      margin-top: 90px;
      .chingadera-blanca {
        position: absolute;
        height: 100%;
        background-color: white;
        width: 50px;
        left: -25px;
        border-radius: 20px;
        @media screen and (max-width: 950px) {
          width: 25px;
          left: -12px;
        }
        @media screen and (max-width: 430px) {
          width: 25px;
          left: -18px;
        }
      }
      .content {
        height: 100%;
        max-width: 1180px;
        margin: auto;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        .texts {
          display: flex;
          flex-direction: column;
          margin: 0px 100px;
          color: white;
          font-family: 'Nunito', sans-serif;
          .quality {
            font-size: 52px;
            @media screen and (max-width: 950px) {
              font-size: 28px;
            }
            @media screen and (max-width: 570px) {
              font-size: 25px;
            }
          }
          .bank-service {
            font-size: 52px;
            font-weight: 700;
            margin-left: 50px;
          }
          .phrase {
            margin-top: 20px;
            font-size: 20px;
            margin-left: 50px;
            max-width: 470px;
            @media screen and (max-width: 570px) {
              font-size: 16px;
            }
          }
          @media screen and (max-width: 430px) {
            margin-left: 25px;
            margin-right: 15px;
          }
        }
      }
      @media screen and (max-width: 950px) {
        margin-top: 30px;
      }
      @media screen and (max-width: 570px) {
        margin-top: 0px;
      }
    }
  }
  @media screen and (max-width: 950px) {
    height: 320px;
  }
}

.section-1 {
  background-color: white;
  padding: 60px 0px;
  overflow: hidden;
  .section-1-container {
    position: relative;
    .chingadera-verde-obscuro {
      top: 21%;
      left: 0px;
      height: 58%;
      position: absolute;
      width: calc(50% + 15px);
      background-color: $auroraRed;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      @media screen and (max-width: 1050px) {
        width: 100%;
        left: -20px;
      }
    }
    .chingadera-verde {
      top: 0px;
      left: 0px;
      height: 100%;
      position: absolute;
      width: 50%;
      background-color: $auroraBlue;
      border-top-right-radius: 96px;
      border-bottom-right-radius: 96px;
      @media screen and (max-width: 1050px) {
        width: 100%;
        left: -40px;
      }
    }
    .conatiner {
      max-width: 1180px;
      margin: auto;
      box-sizing: border-box;
      overflow: hidden;
      padding: 60px 0px;
      display: flex;
      .texts {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        color: white;
        font-family: 'Nunito', sans-serif;
        .quality {
          z-index: 1;
          font-size: 30px;
          max-width: 420px;
          font-weight: 700;
          @media screen and (max-width: 1050px) {
            max-width: none;
            text-align: center;
          }
        }
        .phrase {
          margin-top: 10px;
          z-index: 1;
          max-width: 420px;
          font-size: 20px;
          font-weight: 500;
          @media screen and (max-width: 1050px) {
            max-width: none;
            text-align: center;
          }
        }
        .enroll-button-container {
          display: flex;
          justify-content: flex-start;
          margin-top: 20px;
          .enroll-button {
            z-index: 1;
            padding: 8px 30px;
            border: 1px solid white;
            font-weight: 600;
            border-radius: 50px;
          }
        }
        @media screen and (max-width: 1050px) {
          margin: 0px;
          align-items: center;
          padding-left: 20px;
          padding-right: 50px;
        }
      }
      @media screen and (max-width: 1050px) {
        justify-content: center;
      }
    }
    img {
      position: absolute;
      right: -240px;
      top: 0px;
      height: 380px;
      @media screen and (max-width: 1050px) {
        display: none;
      }
    }
  }
  @media screen and (max-width: 1050px) {
    /* margin: 0px 20px; */
  }
}

.cards-section {
  background-color: white;
  position: relative;
  overflow-x: hidden;
  .content {
    max-width: 1180px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    .landing-card {
      font-family: 'Nunito', sans-serif;
      margin: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid lightgray;
      padding: 60px 10px;
      border-radius: 40px;
      max-width: 200px;
      .card-text {
        color: gray;
        font-weight: 700;
        font-size: 19px;
        text-align: center;
        margin-bottom: 20px;
      }
      .card-button {
        color: white;
        z-index: 1;
        padding: 8px 30px;
        font-weight: 700;
        border-radius: 50px;
        text-align: center;
        @media screen and (max-width: 600px) {
          border-radius: 25px;
        }
      }
    }
    $cardOffset: 80px;
    .card-1 {
      margin-bottom: $cardOffset;
      .card-button {
        background-color: $auroraBlue;
      }
    }
    .card-2 {
      margin-top: $cardOffset;
      .card-button {
        background-color: $auroraRed;
      }
    }
  }
}

.our-service-section {
  background-color: white;
  position: relative;
  overflow-x: hidden;
  .chingadera-verde {
    position: absolute;
    height: 60%;
    top: 20%;
    width: 50px;
    background-color: $auroraBlue;
    right: -25px;
    border-radius: 20px;
  }
  .content {
    padding: 60px 0px;
    max-width: 1180px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    .texts {
      display: flex;
      flex-direction: column;
      margin-right: 100px;
      color: black;
      font-family: 'Nunito', sans-serif;
      margin-left: 30px;
      .quality {
        z-index: 1;
        font-size: 30px;
        max-width: 235px;
        font-weight: 700;
      }
      .phrase {
        margin-top: 10px;
        z-index: 1;
        max-width: 460px;
        font-size: 20px;
        font-weight: 500;
      }
      .enroll-button-container {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        .enroll-button {
          color: $auroraBlue;
          z-index: 1;
          padding: 8px 30px;
          border: 2px solid $auroraBlue;
          font-weight: 700;
          border-radius: 50px;
        }
      }
    }
    .image {
      margin-left: 20px;
      flex-grow: 1;
      height: 300px;
      background-size: cover;
      resize: both;
      background-position-x: center;
      background-position-y: center;
      background-image: url('../../../assets/img/landing/man-and-woman-smiling-inside-building.jpg');
      border-radius: 100px;
    }
  }
}

.banking-section {
  background-color: white;
  position: relative;
  overflow-x: hidden;
  .chingadera-verde {
    position: absolute;
    height: 60%;
    top: 20%;
    width: 50px;
    background-color: $auroraBlue;
    left: -25px;
    border-radius: 20px;
  }
  .content {
    padding: 60px 0px;
    max-width: 1180px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    .texts {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      color: black;
      font-family: 'Nunito', sans-serif;
      margin-right: 30px;
      .quality {
        z-index: 1;
        font-size: 30px;
        max-width: 300px;
        font-weight: 700;
      }
      .phrase {
        margin-top: 10px;
        z-index: 1;
        max-width: 460px;
        font-size: 20px;
        font-weight: 500;
      }
      .enroll-button-container {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        .enroll-button {
          color: $auroraBlue;
          z-index: 1;
          padding: 8px 30px;
          border: 2px solid $auroraBlue;
          font-weight: 700;
          border-radius: 50px;
        }
      }
    }
    .image {
      flex-grow: 1;
      height: 300px;
      background-size: cover;
      resize: both;
      background-position-x: 0px;
      background-position-y: center;
      background-image: url('../../../assets/img/landing/banking.jpg');
      border-radius: 100px;
      margin-right: 20px;
      @media screen and (max-width: 780px) {
        background-position-x: -50px;
      }
    }
  }
  img {
    position: absolute;
    left: -110px;
    top: 0px;
    height: 380px;
    @media screen and (max-width: 1250px) {
      left: -160px;
    }
    @media screen and (max-width: 600px) {
      left: -160px;
    }
  }
}

.events-section {
  background-color: white;
  position: relative;
  overflow-x: hidden;
  .chingadera-verde {
    position: absolute;
    height: 60%;
    top: 20%;
    width: 50px;
    background-color: $auroraBlue;
    right: -25px;
    border-radius: 20px;
  }
  .content {
    padding: 60px 0px;
    max-width: 1180px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    .texts {
      display: flex;
      flex-direction: column;
      margin-right: 100px;
      color: black;
      font-family: 'Nunito', sans-serif;
      margin-left: 30px;
      .quality {
        z-index: 1;
        font-size: 30px;
        max-width: 300px;
        font-weight: 700;
      }
      .phrase {
        margin-top: 10px;
        z-index: 1;
        max-width: 460px;
        font-size: 20px;
        font-weight: 500;
      }
      .enroll-button-container {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        .enroll-button {
          color: $auroraBlue;
          z-index: 1;
          padding: 8px 30px;
          border: 2px solid $auroraBlue;
          font-weight: 700;
          border-radius: 50px;
        }
      }
    }
    .image {
      flex-grow: 1;
      height: 300px;
      background-size: cover;
      resize: both;
      background-position-x: center;
      background-position-y: center;
      background-image: url('../../../assets/img/landing/events.jpg');
      border-radius: 100px;
      margin-left: 20px;
    }
  }
}

.community-wrapper {
  background-image: url('../../../assets/img/landing/smiling-woman-leaning-on-table.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  .community {

    // Old gradient

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/$auroraBlue+0$auroraRed+100&0.7+0,0.5+100 */
    // background: -moz-linear-gradient(top,  rgba(53,168,129,0.7) 0%, rgba(22,96,71,0.5) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top,  rgba(53,168,129,0.7) 0%,rgba(22,96,71,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom,  rgba(53,168,129,0.7) 0%,rgba(22,96,71,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b$auroraBlue', endColorstr='#8$auroraRed',GradientType=0 ); /* IE6-9 */

    // New gradient

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#037a74+0,052d42+100&0.5+0,0.7+100 */
    background: -moz-linear-gradient(top,  rgba(4,135,135,0.8) 0%, rgba(5,45,66,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(4,135,135,0.8) 0%,rgba(5,45,66,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(4,135,135,0.8) 0%,rgba(5,45,66,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80048787', endColorstr='#b3052d42',GradientType=0 ); /* IE6-9 */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: white;
    padding: 80px 60px;
    text-align: center;
    .title {
      z-index: 1;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .phrase {
      margin-top: 10px;
      z-index: 1;
      max-width: 500px;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 40px;
    }
    .more-button {
      z-index: 1;
      padding: 8px 30px;
      border: 1px solid white;
      font-weight: 600;
      border-radius: 50px;
    }
  }
}

.help-section {
  background-color: white;
  position: relative;
  overflow-x: hidden;
  .chingadera-verde {
    position: absolute;
    height: 60%;
    top: 20%;
    width: 50px;
    background-color: $auroraBlue;
    left: -25px;
    border-radius: 20px;
  }
  .content {
    padding: 60px 0px;
    max-width: 1180px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    .texts {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      color: black;
      font-family: 'Nunito', sans-serif;
      margin-right: 30px;
      .quality {
        z-index: 1;
        font-size: 30px;
        max-width: 230px;
        font-weight: 700;
      }
      .phrase {
        margin-top: 10px;
        z-index: 1;
        max-width: 460px;
        font-size: 20px;
        font-weight: 500;
      }
      .enroll-button-container {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        .enroll-button {
          color: $auroraBlue;
          z-index: 1;
          padding: 8px 30px;
          border: 2px solid $auroraBlue;
          font-weight: 700;
          border-radius: 50px;
        }
      }
    }
    .image {
      flex-grow: 1;
      height: 300px;
      background-size: cover;
      resize: both;
      background-position-x: center;
      background-position-y: center;
      background-image: url('../../../assets/img/landing/support.jpg');
      border-radius: 100px;
    }
  }
}

.contact-section {
  background-color: $auroraRed;
  position: relative;
  overflow-x: hidden;
  .content {
    padding: 30px 20px;
    max-width: 1180px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: 'Nunito', sans-serif;
    .phrase {
      z-index: 1;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }
    .contact-button {
      color: $auroraBlue;
      z-index: 1;
      padding: 8px 30px;
      font-weight: 700;
      border-radius: 50px;
      background-color: white;
    }
  }
}

@keyframes kenburns1 {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
  }
  100% {
    transform: scale3d(1.2, 1.2, 1.2) translate3d(-80px, -180px, 0px);
  }
}

@keyframes kenburns2 {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0px, -40px, 0px);
  }
  100% {
    transform: scale3d(1.2, 1.2, 1.2) translate3d(-50px, -110px, 0px);
  }
}

@keyframes kenburns3 {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0px, -40px, 0px);
  }
  100% {
    transform: scale3d(1.2, 1.2, 1.2) translate3d(-25px, -60px, 0px);
  }
}

@keyframes kenburns4 {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
  }
  100% {
    transform: scale3d(1.2, 1.2, 1.2) translate3d(0px, 0px, 0px);
  }
}

@keyframes kenburns5 {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
  }
  100% {
    transform: scale3d(1.2, 1.2, 1.2) translate3d(0px, 0px, 0px);
  }
}
