<p>Landing component works!</p>
<!-- <div class="header">
  <img src="/assets/img/jumbotrons/handshake.jpg" alt="handshake" />
  <div class="gradient-wrapper">
    <div class="header-content">
      <h1>
        <span class="lighter">Quality</span> <br />
        Bank Service
      </h1>
    </div>
  </div>
</div>
<div class="container" fxLayout="row">
  <div class="leading" fxLayout="row" fxLayoutAlign="center center">
    <div
      class="left text-block"
      fxFlex="1 1 calc(15em + 20px)"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <h2>MAKING AND UNDERSTANDING FINANCIAL DECISIONS</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes,
      </p>
      <button mat-raised-button color="accent">
        Apply Now
      </button>
    </div>
    <div class="right" fxFlex="2 2 calc(15em + 20px)"></div>
  </div>
</div>
<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="info-wrapper" fxLayout="row" fxLayoutAlign="space-around start">
    <div class="info">
      <div
        class="info-header"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="4px"
      >
        <mat-icon>help_outline</mat-icon>
        <h3>View Common Questions</h3>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa.
      </p>
      <button mat-raised-button color="accent">Learn more</button>
    </div>
    <div class="info">
      <div
        class="info-header"
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="4px"
      >
        <mat-icon>info</mat-icon>
        <h3>Request More Information</h3>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa.
      </p>
      <button mat-raised-button color="accent">Learn more</button>
    </div>
  </div>
</div>
<div class="container" fxLayout="row">
  <div class="service" fxLayout="row" fxLayoutAlign="center center">
    <div class="left" fxFlex="1 1 calc(15em + 20px)"></div>
    <div
      class="right text-block"
      fxFlex="1 1 calc(15em + 20px)"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <h2>OUR SERVICE</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes,
      </p>
      <button mat-raised-button color="accent">
        Read more
      </button>
    </div>
  </div>
</div>
<div class="container" fxLayout="row">
  <div class="app" fxLayout="row" fxLayoutAlign="center center">
    <div
      class="left text-block"
      fxFlex="1 1 calc(15em + 20px)"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <h2>BANKING HAS NEVER BEEN SO EASY OR EFFICIENT</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes,
      </p>
      <button mat-raised-button color="accent">
        Download the App
      </button>
    </div>
    <div class="right" fxFlex="1 1 calc(15em + 20px)"></div>
  </div>
</div>
<div class="container" fxLayout="row">
  <div class="events" fxLayout="row" fxLayoutAlign="center center">
    <div class="left" fxFlex="1 1 calc(15em + 20px)"></div>
    <div
      class="right text-block"
      fxFlex="1 1 calc(15em + 20px)"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <h2>UPCOMING EVENTS</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes,
      </p>
      <button mat-raised-button color="accent">
        Read more
      </button>
    </div>
  </div>
</div>
<div class="community-wrapper">
  <div class="community" fxLayout="column" fxLayoutAlign="center stretch">
    <div class="community-info">
      <h2>INVOLVE OUR COMMUNITIES</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes,
      </p>
      <button mat-raised-button color="accent">Read more</button>
    </div>
  </div>
</div>
<div class="container" fxLayout="row">
  <div class="help" fxLayout="row" fxLayoutAlign="center center">
    <div
      class="left text-block"
      fxFlex="1 1 calc(15em + 20px)"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <h2>HOW CAN WE HELP YOU?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes.
      </p>
      <button mat-raised-button color="accent">
        Read more
      </button>
    </div>
    <div class="right" fxFlex="1 1 calc(15em + 20px)"></div>
  </div>
</div>
<div class="contact" fxLayout="row">
  <div class="inner-contact" fxLayout="row">
    <div class="left" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      </p>
    </div>
    <div class="right" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="accent">Contact</button>
    </div>
  </div>
</div>
 -->
