.category-card-wrapper {
    .category-card-container {
        width: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .upper {
            width: 140px;
            height: 140px;
            border-radius: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: rgba(0, 0, 0, 0.75) -2px 2px 5px 0px;
            .image-container {
                background-size: cover;
                resize: both;
                background-position-x: center;
                background-position-y: center;
                width: 128px;
                height: 128px;
                border-radius: 100px;
            }
        }
        .lower {
            display: flex;
            justify-content: center;
            padding: 15px;
            .category-name {
                font-family: 'Trebuchet MS', Helvetica, sans-serif;
                color: #1b4568;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}
