<section class="categories-header">
  <div class="categories-header-container">
    <div class="category-container focus-outline"
      tabindex="0"
      *ngFor="let category of featuredCategories"
      [routerLink]="['/courses/categories', category.id]"
    >
      <i class="material-icons">{{category.materialIcon}}</i>
      <div>{{category.name}}</div>
    </div>
  </div>
</section>

<section class="courses-jumbotron-section">
  <div class="jumbotron-wrapper">
    <div class="jumbotron-wrapper-overlay">
      <div class="jumbotron-conatiner">
        <div class="jumbotron-texts">
          <div class="jumbotron-title">
            Top-rated courses for leading professionals
          </div>
          <div class="jumbotron-description">
            Improve your skills and learn your way up in leading industries
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="courses && courses.length > 0" class="featured-courses-section">
  <div class="featured-courses-container">
    <div class="featured-title-container">
      <div class="featured-title">All Courses</div>
    </div>
    <div class="featured-cards-container">
      <div class="course-card" *ngFor="let i = index; let course of courses | paginate: { itemsPerPage: page.size, currentPage: page.pageNumber, totalItems: page.totalElements }">
        <app-course-card [course]="course"></app-course-card>
      </div>
    </div>
    <pagination-controls class="pagination-controls" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</section>
