<div *ngIf="lesson.type === 'VIDEO'" class="player-container">
  <div class="player-wrapper">
    <!-- <app-amp-player
      [src]="lesson.adaptiveStreamingUrl"
      [autoplay]="false"
      [token]="decryptionKeyToken"
      [width]="'auto'"
      [height]="'100%'"
    ></app-amp-player> -->
    <video id="azuremediaplayer" class="azuremediaplayer amp-default-skin amp-big-play-centered" tabindex="0" controls>
      <p class="amp-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web
        browser that supports HTML5 video
      </p>
    </video>
  </div>
</div>

<div *ngIf="lesson.type === 'ARTICLE'" class="article-container">
  <div class="article-inner-container">
    <h2 class="article-title">{{lesson.title}}</h2>
    <div class="article-content" [innerHTML]="lesson.article" ></div>
  </div>
</div>

<div *ngIf="lesson.type === 'DOCUMENT'" class="document-container">
  <div class="document">
    <i class="material-icons">insert_drive_file</i>
    <div class="lesson-title">{{lesson.title}}</div>
    <div class="read-time">
      <div>{{ lesson.readTime | readTime }}</div>
      <i class="material-icons">menu_book</i>
    </div>
    <button class="download-button focus-outline" (click)="downloadFile()">Download</button>
  </div>
</div>

