<div *ngIf="lesson.type === 'VIDEO'" class="player-container">
  <div class="player-wrapper">
    <app-amp-player
      id="vid1"
      [src]="lesson.adaptiveStreamingUrl"
      [autoplay]="true"
      [token]="decryptionKeyToken"
      [width]="'auto'"
      [height]="'100%'"
    ></app-amp-player>
  </div>
</div>

<div *ngIf="lesson.type === 'ARTICLE'" class="article-container">
  <div class="article-container">
    <h2 class="article-title">{{lesson.title}}</h2>
    <div class="article-content" [innerHTML]="lesson.article" ></div>
    <!-- <div style="position: absolute; left: 50%; height: 100%; width: 1px; background-color: red;"></div> -->
  </div>
</div>

<div *ngIf="lesson.type === 'DOCUMENT'" class="document-container">
  <div class="document">
    <i class="material-icons">insert_drive_file</i>
    <div class="lesson-title">{{lesson.title}}</div>
    <div class="read-time">
      <div>{{ lesson.readTime | readTime }}</div>
      <i class="material-icons">menu_book</i>
    </div>
    <button class="download-button focus-outline" (click)="downloadFile()">Download</button>
    <a #downloadLink style="display: none;"></a>
  </div>
</div>

