$offset: 187;
$duration: 1.4s;

.text-center {
  text-align: center;
  #invest_naija_inner_logo {
    animation: iconRotate ($duration) ease-in-out forwards infinite alternate,
      fillColors ($duration * 4) ease-in-out infinite;
    transform-origin: center;
    animation-iteration-count: infinite;
  }
}

.event-card-wrapper {
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:not(.loading) {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    &:hover {
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      .date {
        transform: rotateY(90deg);
        transition-delay: 0s;
      }
    }
  }

  .spiner {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #ffffffb3;
    border-radius: 5px;
    transition: opacity cubic-bezier(0.445, 0.05, 0.55, 0.95);
    h1 {
      text-align: center;
      margin: 0 auto;
    }
    &.loading {
      opacity: 1;
    }
  }
  .event-card-container {
    background-color: transparent;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-radius: 5px;
    min-height: 194px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    resize: both;
    min-width: 220px;
    background-position-x: center;
    background-position-y: center;
    .gradient-overlay {
      border-radius: 5px;
      display: flex;
      flex: 1 1 autp;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,fbfbfb+29&0.4+0,0+100 */
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(251, 251, 251, 0.28) 29%,
        rgba(251, 251, 251, 0) 100%
      ); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(251, 251, 251, 0.28) 29%,
        rgba(251, 251, 251, 0) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(251, 251, 251, 0.28) 29%,
        rgba(251, 251, 251, 0) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00fbfbfb',GradientType=0 ); /* IE6-9 */
      background-color: transparent;

      .organizer-container {
        padding: 10px;
        margin-bottom: 40px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        display: flex;
        align-items: center;
        .organizer-name {
          color: white;
          font-size: 12px;
          .material-icons {
            position: relative;
            bottom: -2px;
          }
        }
      }
      .date-container {
        position: absolute;
        right: 95px;
        top: -13px;
        .date {
          background-color: #357d24;
          top: 25px;
          color: #fff;
          left: 25px;
          min-height: 60px;
          min-width: 60px;
          position: absolute;
          text-align: center;
          transition-delay: 0.2s;
          font-size: 22px;
          font-weight: 700;
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          text-transform: uppercase;
          span {
            display: block;
            line-height: 30px;
          }
          .month {
            font-size: 16px;
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
      .event-details {
        flex: 1 1 auto;
        background: rgba(0, 0, 0.5);
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.3) 9%,
          rgba(0, 0, 0, 0.4) 23%,
          rgba(0, 0, 0, 0.5) 33%
        );

        padding: 10px;
        color: white;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        .event-name-container {
          max-width: 80%;
          max-height: 80px;
          min-height: 75px;
          overflow: hidden;
          .event-name {
            max-width: 220px;
            width: 100%;
            cursor: pointer;
            font-weight: lighter;
            font-size: 22px;
            text-overflow: ellipsis;
            overflow: hidden;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .extra-info-container {
          display: flex;
          flex-direction: row-reverse;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          justify-content: space-between;
          align-items: center;
          .subs-container {
            display: flex;
            align-items: center;
            font-size: 12px;
            div {
              line-height: 1;
            }
            .material-icons {
              color: #35a881;
              font-size: 13px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  &.loading {
    .event-card-container {
      .gradient-overlay {
        cursor: initial;
        .organizer-container,
        .event-details {
          opacity: 0.4;
        }
      }
    }
  }
}

.spacer {
  flex: 1 1 auto;
  min-height: 40px;
}

.spinner {
  animation: rotator $duration linear infinite;
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash $duration ease-in-out infinite,
    strokeCollors ($duration * 4) ease-in-out infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes strokeCollors {
  0% {
    stroke: #6cc5a4;
  }
  25% {
    stroke: #ec5a5a;
  }
  50% {
    stroke: #f0b52b;
  }
  75% {
    stroke: #032c43;
  }
  100% {
    stroke: #6cc5a4;
  }
}

@keyframes iconRotate {
  0% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(0.6);
  }
  0% {
    transform: rotate(0) scale(1);
  }
}

@keyframes fillColors {
  0% {
    fill: #6cc5a4;
  }
  25% {
    fill: #ec5a5a;
  }
  50% {
    fill: #f0b52b;
  }
  75% {
    fill: #083a55;
  }
  100% {
    fill: #6cc5a4;
  }
}

@keyframes textColors {
  0% {
    color: #6cc5a4;
  }
  25% {
    color: #ec5a5a;
  }
  50% {
    color: #f0b52b;
  }
  75% {
    color: #083a55;
  }
  100% {
    color: #6cc5a4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}
