<section class="events-jumbotron-section">
  <div class="jumbotron-wrapper">
    <div class="jumbotron-wrapper-overlay">
      <div class="jumbotron-conatiner">
        <div class="jumbotron-texts">
          <div class="jumbotron-title">Events</div>
          <div class="jumbotron-description">
            Check out all of the events that Invest Naija &copy; has available
            for you
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  *ngIf="upcomingEvents && upcomingEvents.length > 0"
  class="events-slider-section"
>
  <div class="events-container">
    <div class="title-container">
      <div class="title">Upcoming</div>
      <a
        class="focus-outline"
        [routerLink]="['/events/all']"
        [queryParams]="{ page: 1 }"
        style="margin: 0px;"
        >View all</a
      >
    </div>
    <div
      class="swiper-container"
      #featuredEventsSwiper
      [swiper]="config"
      (indexChange)="onIndexChange($event)"
      style="width: 100%; margin-top: 20px;"
      (reachEnd)="onReachEnd()"
    >
      <div class="swiper-wrapper">
        <div
          class="swiper-slide"
          *ngFor="let i = index; let event; of: upcomingEvents"
        >
          <app-event-swiper-card [event]="event"></app-event-swiper-card>
        </div>
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
    <div
      class="swiper-button-prev"
      *ngIf="showPrevBubtton"
      (click)="prevSlide()"
    ></div>
    <div
      class="swiper-button-next"
      *ngIf="showNextButton"
      (click)="nextSlide()"
    ></div>
  </div>
</section>
<div class="divider"></div>

<section class="events-recent-section">
  <div class="title-container">
    <div class="title">Nearby</div>
    <a
      class="focus-outline"
      [routerLink]="['/events/all']"
      [queryParams]="{ page: 1 }"
      >View all</a
    >
  </div>
  <div
    class="events-container"
    *ngIf="closeByEvents && closeByEvents.length > 0; else closeByEventsLoading"
  >
    <div class="cards-container">
      <div
        class="event-card"
        *ngFor="
          let i = index;
          let event;
          of: closeByEvents
            | paginate
              : {
                  id: 'closeBy',
                  itemsPerPage: closeByEventsPage.size,
                  currentPage: closeByEventsPage.pageNumber,
                  totalItems: closeByEventsPage.totalElements
                }
        "
      >
        <app-event-card [event]="event"></app-event-card>
      </div>
    </div>
    <pagination-controls
      [maxSize]="maxPaginationElements"
      id="closeBy"
      class="pagination-controls"
      (pageChange)="closeByEventsPageChanged($event)"
    ></pagination-controls>
  </div>
  <ng-template #closeByEventsLoading>
    <app-loader class="events-loader" *ngIf="!closeByEventsLoaded"></app-loader>
    <div *ngIf="closeByEventsLoaded" class="no-events-container">
      <i class="material-icons">explore</i>
      <div class="no-events-phrase">
        There are no available events near you
      </div>
    </div>
  </ng-template>
</section>

<div class="divider"></div>

<section
  *ngIf="recentEvents && recentEvents.length > 0"
  class="events-recent-section"
>
  <div class="events-container">
    <div class="title-container">
      <div class="title">Rencently Added</div>
      <a
        class="focus-outline"
        [routerLink]="['/events/all']"
        [queryParams]="{ page: 1 }"
        >View all</a
      >
    </div>
    <div class="cards-container">
      <div
        class="event-card"
        *ngFor="
          let i = index;
          let event;
          of: recentEvents
            | paginate
              : {
                  id: 'recent',
                  itemsPerPage: recentEventsPage.size,
                  currentPage: recentEventsPage.pageNumber,
                  totalItems: recentEventsPage.totalElements
                }
        "
      >
        <app-event-card [event]="event"></app-event-card>
      </div>
    </div>
    <pagination-controls
      [maxSize]="maxPaginationElements"
      id="recent"
      class="pagination-controls"
      (pageChange)="recentEventsPageChanged($event)"
    ></pagination-controls>
  </div>
</section>

<div class="divider"></div>

<section
  *ngIf="trendingEvents && trendingEvents.length > 0"
  class="events-slider-section"
>
  <div class="events-container">
    <div class="title-container">
      <div class="title">Trending</div>
      <a
        class="focus-outline"
        [routerLink]="['/events/all']"
        [queryParams]="{ page: 1 }"
        style="margin: 0px;"
        >View all</a
      >
    </div>
    <div
      class="swiper-container"
      #trendingEventsSwiper
      [swiper]="config"
      (indexChange)="onIndexChangeTrending($event)"
      style="width: 100%; margin-top: 20px;"
      (reachEnd)="onReachEndTrending()"
    >
      <div class="swiper-wrapper">
        <div
          class="swiper-slide"
          *ngFor="let i = index; let event; of: trendingEvents"
        >
          <app-event-swiper-card [event]="event"></app-event-swiper-card>
        </div>
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
    <div
      class="swiper-button-prev"
      *ngIf="showPrevBubttonTrending"
      (click)="prevSlideTrending()"
    ></div>
    <div
      class="swiper-button-next"
      *ngIf="showNextButtonTrending"
      (click)="nextSlideTrending()"
    ></div>
  </div>
</section>

<div class="divider"></div>

<section class="buttons-section">
  <div class="buttons-container">
    <button
      class="focus-outline"
      *ngIf="isAuthenticated"
      [routerLink]="['/events/subscriptions']"
    >
      My Events
    </button>
    <button class="focus-outline" [routerLink]="['/events/all']">
      All Events
    </button>
  </div>
</section>
