<div class="card-container">
  <div class="image-container">
    <img [src]="article.imgUrl" alt="Article image" />
  </div>
  <div class="date">
    <span class="day">{{ day }}</span
    ><span class="month">{{ month }}</span>
  </div>
  <div class="captions">
    <div class="caption">
      <span class="count">{{ article.likes.length }}</span>
      Likes
    </div>
    <div class="caption">
      <span class="count">{{ article.comments.length }}</span>
      Comments
    </div>
  </div>
  <div class="fig-caption">
    <h3>{{ article.title }}</h3>
    <p>{{ article.subtitle }}</p>
  </div>
  <a class="focus-outline" tabindex="0" [routerLink]="['./', article.id]"></a>
</div>
