/* .header-container {
  position: fixed;
  top: 0px;
  z-index: 5; // <-- because the Azure Media Player has z-index 4
  width: 100vw;
} */

.router-outlet-container {
  min-height: calc(100vh - 264px);
  /* margin-top: 65px; */ // Uncomment for fixed header
}

