.warning-section {
  padding: 20px;
  .container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    .warning-container {
      display: flex;
      border-radius: 4px;
      padding: 20px;
      border: 1px solid #004025;
      background-color: #e9f7f1;
      .left {
        margin-right: 20px;
        mat-icon {
          color: #46c28e;
        }
      }
      .right {
        color: #004025;
        display: flex;
        flex-direction: column;
        .title {
          font-weight: 700;
          margin-bottom: 10px;
        }
        .message {
          max-width: 530px;
        }
      }
    }
  }
}
