<section class="cart-view-header">
  <div class="cart-view-header-container">
    <h1 class="title">Checkout</h1>
    <div class="subtitle">You are just one step away from knowledge!</div>
  </div>
</section>

<section class="cart-section">
  <div class="cart-container">
    <div class="shopping-container">
      <div class="payment-info">
        <div class="title">Payment Info</div>
        <div class="billing-address-menu">
            <mat-form-field appearance="outline">
              <mat-label>Billing Address</mat-label>
              <mat-select [formControl]="countryControl" required>
                <mat-option style="color: gray;">Select an option</mat-option>
                <mat-option *ngFor="let country of coursesService.countries"  [value]="country">{{country}}</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="payment-options">
          <mat-checkbox class="checkbox" color="primary" [checked]="showNewCardPaymentForm" (change)="toggleNewCardForm()">
            <div>Credit or Debit Card</div>
            <img class="mastercard" src="assets/img/payment/card-mc.svg" alt="MasterCard">
            <img class="visa" src="assets/img/payment/card-visa.svg" alt="VISA">
            <img class="amex" src="assets/img/payment/card-amex.svg" alt="AMEX">
          </mat-checkbox>
          <mat-checkbox class="checkbox" color="primary" [checked]="showBankPaymentForm" (change)="toggleBankForm()" style="margin-top: 5px;">
            <div>Bank account</div>
            <mat-icon>account_balance</mat-icon>
          </mat-checkbox>
          <mat-radio-group aria-label="Select an option" [value]="selectedUserCard">
            <mat-radio-button *ngFor="let card of userCards" class="radio-button card" color="primary" (change)="cardSelected(card)" [value]="card">
              Option {{card}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="showNewCardPaymentForm" class="form-container">
          <form class="new-card-form" [formGroup]="newCardForm">
            <mat-form-field appearance="outline">
              <mat-label>Name on Card</mat-label>
              <input matInput type="text" placeholder="Name on Card" formControlName="nameOnCardControl" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Card Number</mat-label>
              <input
                matInput
                placeholder="Card Number"
                formControlName="cardNumberControl"
                required
                [value]="newCardForm.get('cardNumberControl').value | creditCardNumber"
              >
              <mat-error *ngIf="newCardForm.controls.cardNumberControl.errors && newCardForm.controls.cardNumberControl.errors['notAValidNumber']">Please enter a valid credit card number</mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <div class="fields-container">
              <mat-form-field appearance="outline">
                <mat-label>Expiry Month</mat-label>
                <mat-select formControlName="expiryMonthControl" required>
                  <mat-option style="color: gray;">MM</mat-option>
                  <mat-option *ngFor="let month of ['01','02','03','04','05','06','07','08','09','10','11','12']" [value]="month">{{month}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Expiry Year</mat-label>
                <mat-select formControlName="expiryYearControl" required>
                  <mat-option style="color: gray;">YYYY</mat-option>
                  <mat-option *ngFor="let year of expirationYears" [value]="year">{{year}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>CVV</mat-label>
                <input matInput type="number" placeholder="CVV" formControlName="securityCodeControl" required>
                <mat-error *ngIf="newCardForm.controls.securityCodeControl.errors && newCardForm.controls.securityCodeControl.errors['notAValidNumber']">Please enter a valid security code (CVV)</mat-error>
                <mat-icon matSuffix>help</mat-icon>
              </mat-form-field>
            </div>
            <mat-checkbox class="checkbox" color="primary" [checked]="true" (change)="toggleRememberCard()" formControlName="rememberCardControl">
              <div>Remember this card</div>
            </mat-checkbox>
          </form>
          <div class="secure-connection-container">
            <mat-icon>lock</mat-icon>
            <div class="labels-container">
              <div>Secure</div>
              <div>Connection</div>
            </div>
          </div>
        </div>
        <div *ngIf="showBankPaymentForm" class="form-container">
          <form>
            Bank account payment form
          </form>
          <div class="secure-connection-container">
            <mat-icon>lock</mat-icon>
            <div class="labels-container">
              <div>Secure</div>
              <div>Connection</div>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-card">
        <div class="total-label">Total:</div>
        <div class="total">{{ total | currency: 'NGN':'symbol-narrow' }}</div>
        <div *ngIf="total !== subtotal" class="subtotal">
          {{ subtotal | currency: 'NGN':'symbol-narrow' }}
        </div>
        <button class="checkout-button focus-outline" (click)="onCompletePayment()">Complete Payment</button>
      </div>
    </div>
    <div class="order-summary">
      <div class="title">Your order</div>
      <div *ngFor="let course of cart; let i = index" class="course-item">
        <div
          class="course-image focus-outline"
          tabindex="0"
          [routerLink]="['/courses', course.id]"
          [style.backgroundImage]="'url(' + course.imgUrl + ')'"
        ></div>
        <div class="course-details">
          <div class="course-name focus-outline" tabindex="0" [routerLink]="['/courses', course.id]">{{ course.name }}</div>
          <div class="category-container">
            <div
              class="category-color-indicator"
              [style.backgroundColor]="course.category.hexColor"
            ></div>
            <div class="category-name">{{ course.category.name }}</div>
          </div>
        </div>
        <div class="action-items">
          <a
            class="focus-outline"
            tabindex="0"
            (click)="onRemoveCourseFromCart(course)"
            (keyup.enter)="onRemoveCourseFromCart(course)"
            >Remove</a
          >
        </div>
        <div class="price-container">
          <div class="price">
            {{
              course.price * (1 - course.discount)
                | currency: 'NGN':'symbol-narrow'
            }}<i class="material-icons">
              local_offer
            </i>
          </div>
          <div *ngIf="course.discount > 0" class="discount-container">
            <div class="list-price">
              {{ course.price | currency: 'NGN':'symbol-narrow' }}
            </div>
            <div class="discount">{{ course.discount * 100 }}% off</div>
          </div>
        </div>
      </div>
      <div *ngFor="let course of cart; let i = index" class="course-item-small">
        <div class="upper">
          <div
            class="course-image focus-outline"
            tabindex="0"
            [routerLink]="['/courses', course.id]"
            [style.backgroundImage]="'url(' + course.imgUrl + ')'"
          ></div>
          <div class="course-details">
            <div>
              <div class="course-name focus-outline" tabindex="0" [routerLink]="['/courses', course.id]">{{ course.name }}</div>
              <div class="category-container">
                <div
                  class="category-color-indicator"
                  [style.backgroundColor]="course.category.hexColor"
                ></div>
                <div class="category-name">{{ course.category.name }}</div>
              </div>
            </div>
            <div class="price-container">
              <div class="price">
                {{
                  course.price * (1 - course.discount)
                    | currency: 'NGN':'symbol-narrow'
                }}<i class="material-icons">
                  local_offer
                </i>
              </div>
              <div *ngIf="course.discount > 0" class="discount-container">
                <div class="list-price">
                  {{ course.price | currency: 'NGN':'symbol-narrow' }}
                </div>
                <div class="discount">{{ course.discount * 100 }}% off</div>
              </div>
            </div>
          </div>
        </div>
        <div class="lower">
          <div class="action-items">
            <a
              class="focus-outline"
              tabindex="0"
              (click)="onRemoveCourseFromCart(course)"
              (keyup.enter)="onRemoveCourseFromCart(course)"
              >Remove</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<button (click)="logFormValue()">Wey ya!</button>
