
<section class="courses-jumbotron-section">
  <div class="jumbotron-wrapper">
    <div class="jumbotron-wrapper-overlay">
      <div class="jumbotron-conatiner">
        <div class="jumbotron-texts">
          <div class="jumbotron-title">Checkout</div>
          <div class="jumbotron-description">
            You are just one step away from knowledge!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cart-section">
  <div class="cart-container">
    <div class="shopping-container">
      <div class="payment-info">
        <div class="title">Payment Info</div>
        <div class="form-container">
          <form id="payment-form">
            <input type="text" id="email" placeholder="Email address" />
            <div id="card-element">
              <!-- Elements will create input elements here -->
            </div>
            <button id="submit">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text">Complete Payment</span>
            </button>
            <!-- We'll put the error messages in this element -->
            <div id="card-errors" role="alert"></div>
            <p class="result-message hidden">
              Payment succeeded.
            </p>
          </form>
          <div class="secure-connection-container">
            <mat-icon>lock</mat-icon>
            <div class="labels-container">
              <div>Secure</div>
              <div>Connection</div>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-card">
        <div class="total-label">Total:</div>
        <div class="total">{{ total | currency: 'NGN':'symbol-narrow' }}</div>
        <div *ngIf="total !== subtotal" class="subtotal">
          {{ subtotal | currency: 'NGN':'symbol-narrow' }}
        </div>
      </div>
    </div>
    <div class="order-summary">
      <div class="title">Your order</div>
      <div *ngFor="let course of cart; let i = index" class="course-item">
        <div
          class="course-image focus-outline"
          tabindex="0"
          [routerLink]="['/courses', course.id]"
          [style.backgroundImage]="'url(' + course.imgUrl + ')'"
        ></div>
        <div class="course-details">
          <div class="course-name focus-outline" tabindex="0" [routerLink]="['/courses', course.id]">{{ course.name }}</div>
          <div class="category-container">
            <div
              class="category-color-indicator"
              [style.backgroundColor]="course.category.hexColor"
            ></div>
            <div class="category-name">{{ course.category.name }}</div>
          </div>
        </div>
        <div class="action-items">
          <a
            class="focus-outline"
            tabindex="0"
            (click)="onRemoveCourseFromCart(course)"
            (keyup.enter)="onRemoveCourseFromCart(course)"
            >Remove</a
          >
        </div>
        <div class="price-container">
          <div class="price">
            {{
              course.price * (1 - course.discount)
                | currency: 'NGN':'symbol-narrow'
            }}<i class="material-icons">
              local_offer
            </i>
          </div>
          <div *ngIf="course.discount > 0" class="discount-container">
            <div class="list-price">
              {{ course.price | currency: 'NGN':'symbol-narrow' }}
            </div>
            <div class="discount">{{ course.discount * 100 }}% off</div>
          </div>
        </div>
      </div>
      <div *ngFor="let course of cart; let i = index" class="course-item-small">
        <div class="upper">
          <div
            class="course-image focus-outline"
            tabindex="0"
            [routerLink]="['/courses', course.id]"
            [style.backgroundImage]="'url(' + course.imgUrl + ')'"
          ></div>
          <div class="course-details">
            <div>
              <div class="course-name focus-outline" tabindex="0" [routerLink]="['/courses', course.id]">{{ course.name }}</div>
              <div class="category-container">
                <div
                  class="category-color-indicator"
                  [style.backgroundColor]="course.category.hexColor"
                ></div>
                <div class="category-name">{{ course.category.name }}</div>
              </div>
            </div>
            <div class="price-container">
              <div class="price">
                {{
                  course.price * (1 - course.discount)
                    | currency: 'NGN':'symbol-narrow'
                }}<i class="material-icons">
                  local_offer
                </i>
              </div>
              <div *ngIf="course.discount > 0" class="discount-container">
                <div class="list-price">
                  {{ course.price | currency: 'NGN':'symbol-narrow' }}
                </div>
                <div class="discount">{{ course.discount * 100 }}% off</div>
              </div>
            </div>
          </div>
        </div>
        <div class="lower">
          <div class="action-items">
            <a
              class="focus-outline"
              tabindex="0"
              (click)="onRemoveCourseFromCart(course)"
              (keyup.enter)="onRemoveCourseFromCart(course)"
              >Remove</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="spinner-overlay" *ngIf="showProgressSpinner">
  <mat-spinner aria-label="progress indicator"></mat-spinner>
</div>
